<div class="content">
  <!-- Mezzi List Section -->
  <div class="mezzi-section section">
    <div class="section-header">
      <div class="title">Cerca un mezzo</div>
      <div class="subtitle">Seleziona un mezzo dalla lista per accedere ai dati</div>
    </div>
    <div class="mezziFilters-container">
      <app-lista-filters></app-lista-filters>
    </div>
    <div class="mezzi-content">
      <app-lista-mezzi (selectVehicle)="onVehicleSelection($event)"></app-lista-mezzi>
    </div>
  </div>

  <!-- Sessions Table Section -->
  <div class="table-section section">
    <div class="section-header">
      <div class="title">Storico del mezzo</div>
      <div class="subtitle">Visualizza i dati del mezzo che hai selezionato</div>
    </div>
    <div class="table">
      <div class="table-row">
        @if (isSmallScreen) {
          <div class="session-filter" >
            <app-session-filters></app-session-filters>
          </div>
          <div class="info">
            @if(selectedVehicle){
              <div class="targa info-item">
                <span class="small-title">Targa</span>
                <span>{{selectedVehicle && selectedVehicle.plate}}</span>
              </div>
              <div class="cantiere info-item">
                <span class="small-title">Cantiere</span>
                <span>{{selectedVehicle ? selectedVehicle.worksite ? selectedVehicle.worksite.name : "non assegnato" : ""}}</span>
              </div>
              <div class="tipologia info-item">
                <span class="small-title">Servizio</span>
                <span>{{selectedVehicle.service?.name || "no data"}}</span>
              </div>
            }@else {
              Nessun veicolo selezionato
            }
          </div>
        }@else {
          <div class="info">
            @if(selectedVehicle){
              <div class="targa info-item">
                <span class="small-title">Targa</span>
                <span>{{selectedVehicle && selectedVehicle.plate}}</span>
              </div>
              <div class="cantiere info-item">
                <span class="small-title">Cantiere</span>
                <span>{{selectedVehicle ? selectedVehicle.worksite ? selectedVehicle.worksite.name : "non assegnato" : ""}}</span>
              </div>
              <div class="tipologia info-item">
                <span class="small-title">Servizio</span>
                <span>{{selectedVehicle.service?.name || "no data"}}</span>
              </div>
            }@else {
              Nessun veicolo selezionato
            }
          </div>
          <div class="session-filter" >
            <app-session-filters></app-session-filters>
          </div>
        }
      </div>
    </div>
    <div class="sessionTable-container" >
      <app-session-table [vehicle]="selectedVehicle"></app-session-table>
    </div>
  </div>

  <!-- Map Section -->
  <div class="map-section section">
    <div class="section-header">
      <div class="header-info">
        <div class="title">Mappa</div>
        <div class="subtitle">Visualizza i mezzi nella mappa</div>
      </div>
      @if(pathPlate){
        <div class="visualizedVehicle-container">
          <p class="visualized-vehicle">Percorso del veicolo <b>{{pathPlate}}</b></p>
        </div>
      }
    </div>
    <mat-error class="map-error" [class.no-mapError]="positionPlate || pathPlate">
      Nessun veicolo selezionato
    </mat-error>
    <div class="map-content" style="position: relative;">
      <mat-slide-toggle
      class="path-switch"
      *ngIf="pathPlate"
      [(ngModel)]="linedPath"
      [checked]="linedPath"
      (click)="togglePathType()">

        <span class="slider-text"><b>{{pathTypeText}}</b></span>
      </mat-slide-toggle>
      <div class="map-container" >
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>
