<div class="content">
  <!-- Mezzi List Section -->
  <div class="mezzi-list section">
    <div class="section-header">
      <div class="title-side">Cerca un mezzo</div>
      <div class="subtitle">Seleziona un mezzo dalla lista per accedere ai dati</div>
    </div>
    <div class="mezziFilters-container">
      <app-lista-filters></app-lista-filters>
    </div>
    <div class="mezzi-content">
      <app-lista-mezzi (selectVehicle)="onVehicleSelection($event)"></app-lista-mezzi>
    </div>
  </div>

  <!-- Sessions Table Section -->
  <div class="sessions-table section">
    <div class="section-header">
      <div class="title-main">Storico del mezzo</div>
      <div class="subtitle">Visualizza i dati del mezzo che hai selezionato</div>
    </div>
    <div class="table-content">
      <div class="table-row">
        <div class="info">
          @if(selectedVehicle){
            <div class="targa">
              <span class="small-title">Targa</span>
              <span>{{selectedVehicle && selectedVehicle.plate}}</span>
            </div>
            <div class="cantiere">
              <span class="small-title">Cantiere</span>
              <span>{{selectedVehicle ? selectedVehicle.worksite ? selectedVehicle.worksite.name : "non assegnato" : ""}}</span>
            </div>
            <div class="tipologia">
              <span class="small-title">Servizio</span>
              <span>{{selectedVehicle.service?.name || "no data"}}</span>
            </div>
          }@else {
            Nessun veicolo selezionato
          }
        </div>
        <div class="session-filter">
          <app-session-filters></app-session-filters>
        </div>
      </div>
      <div class="sessionTable-container">
        <app-session-hystories [vehicle]="selectedVehicle"></app-session-hystories>
      </div>
    </div>
  </div>

  <!-- Map Section -->
  <div class="map section">
    <div class="section-header">
      <div class="title-side">Mappa</div>
      <div class="subtitle">Visualizza i mezzi nella mappa</div>
    </div>
    <div class="map-content" style="position: relative;">
      <mat-slide-toggle
      class="path-switch"
      *ngIf="isPathLoaded"
      [(ngModel)]="linedPath"
      [checked]="linedPath"
      (click)="togglePathType()">

        <span class="slider-text"><b>{{pathTypeText}}</b></span>
      </mat-slide-toggle>
      <div class="map-container" >
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>
