.content{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/*common section style*/
.section {
  background-color: var(--navbarANDstats-background);
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .section-header{
    .title{
      font-weight: bold;
    }
  }
}

/*section grid styles*/
.mezzi-section{
  grid-column: span 1;
}
.table-section{
  grid-column: span 2;
  background-color: var(--background-color);
}
.map-section{
  grid-column: span 2;
}

/* table section */
.table-section{
  .table {
    overflow-x: hidden;

    .table-row{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }
    .table-row{
      .info {
        min-height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .5vw;
        padding: 10px;
        background-color: white;

        .info-item{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 14px;
          margin: 0;

          .small-title{
            color: var(--green);
          }
        }
      }
    }
  }
}

/*mezzi section*/
.mezzi-section {
  .mezziFilters-container{
    width: 100%;
  }
  .mezzi-content{
    max-height: 70vh;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}

/*map section*/
.map-section{

  .map-content {
    width: 100%;
    height: 70%;
  }

}

.no-mapError {
  visibility: hidden;
}

@media (max-width: 1366px) {
  .content {
    grid-template-columns: repeat(5, 1fr);
  }

  .mezzi-section{
    grid-column: span 1;
  }
  .table-section{
    grid-column: span 2;
    background-color: var(--background-color);

    .table-row{
      flex-direction: column;
      gap: 1vh;
    }

    .table-content{
      .info{
        gap: 1.05vw; /*non funziona*/
      }
    }
  }
  .map-section{
    grid-column: span 2;
  }

  .mezziFilters-container {
    width: 100%;
    overflow: hidden;
  }
}
.path-switch {
  position: absolute;
  z-index: 1000;
  left: 50px;
  top: 20px;
}
/* Stile dello switch */
::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: white !important;
}

::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: var(--green) !important;
}
