<div class="content" [formGroup]="societaFiltersForm">
  <mat-form-field class="cantieri-filter filter" appearance="outline" subscriptSizing="dynamic">
    <mat-select formControlName="societa" placeholder="Tutte le societa" multiple class="societa-input" (openedChange)="societaSelectOpened = !societaSelectOpened">
      <mat-option value="Seleziona tutto" (click)="selectAll()" *ngIf="societaSelectOpened">Seleziona tutto</mat-option>
      <mat-divider></mat-divider>
      <mat-option
      [value]="societa"
      *ngFor="let societa of listaSocieta"
      >
        {{ societa }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>engineering</mat-icon>
  </mat-form-field>
</div>
