<div class="content">
  <div class="sections-container">

    <!-- Sezione sinistra: Form di login -->
    <div class="left-container">
      <div class="section-header">
        <img src="assets/logo-noscritta.png" alt="Logo waste trucker" class="main-logo">
        <div class="title-container">
          <h4 class="title">SwasteTrucks</h4>
          <p class="version">Versione 0.1</p>
        </div>
      </div>
        <div class="login-container">
          <div class="login-header">
            <h1 class="form-title">Accedi</h1>
            <p class="subtitle">Inserisci le tue credenziali</p>
          </div>
          <form [formGroup]="loginForm" class="login-form" (submit)="login()">

            <!-- Warnings -->
            <p *ngIf="credentialsWarning" class="credentials-warning">
              ATTENZIONE: 1 tentativo rimanente prima del blocco
            </p>
            <p *ngIf="isCapsActive" class="caps-lock-warning">
              Blocco maiuscolo attivo <mat-icon>keyboard_capslock_badge</mat-icon>
            </p>

            <!-- Username -->
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput
                      (keydown)="checkCapslock($event)"
                      formControlName="username"
                      placeholder="Username" />
              <button mat-icon-button matSuffix type="button">
                <mat-icon>person</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.controls['username'].errors?.['required']">
                L'username è obbligatorio.
              </mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput
                      [type]="showPassword ? 'text' : 'password'"
                      (keydown)="checkCapslock($event)"
                      formControlName="password"
                      placeholder="Password" />
              <button mat-icon-button matSuffix type="button" class="" (click)="showPassword = !showPassword">
                <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">
                La password è obbligatoria.
              </mat-error>
            </mat-form-field>

            <!-- Messaggi di stato -->
            <p *ngIf="loginSuccess" class="login-success">
              Accesso... <mat-spinner mode="indeterminate" class="success-spinner"></mat-spinner>
            </p>
            <mat-error *ngIf="credentialsError">Credenziali non valide</mat-error>
            <mat-error *ngIf="timeoutCountdown > 1">
              Prossimo tentativo fra {{ timeoutCountdown / 1000 | number:'1.0-0' }} secondi
            </mat-error>

            <!-- Submit -->
            <div class="submit-container">
              <button mat-button
                      color="primary"
                      type="submit"
                      [disabled]="loginForm.invalid || credentialsError"
                      class="button">
                Accedi
              </button>
            </div>
            <p class="forgot-password">Hai dimenticato la password?</p>
          </form>
          <div class="footer">
            <div class="loghi">
              <img src="assets/logo-gsa.png" alt="logo gsa" class="logo-gsa logo">
              <img src="assets/logo-gesenu.png" alt="logo gesenu" class="logo-gesenu logo">
            </div>

            <div class="copyright-container">
              <p class="copyright">
                © 2025 G.S.A. SRL Gruppo Gesenu. Tutti i diritti riservati. L'uso di questa applicazione è soggetto ai Termini e Condizioni di GSA. È vietata qualsiasi riproduzione non autorizzata.
              </p>
            </div>
          </div>
      </div>
    </div>

    <!-- Sezione destra: Immagine -->
    <div class="right-section">
    </div>

  </div>
</div>
