.table-container {
  height: 70vh;
  overflow-y: auto;
  width: 100%;
}

.societa-table {
  width: 100%;
  table-layout: fixed;
}

.societa-container {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.right-text {
  text-align: right;
}
