.filters-container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 2vw;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.filter{
  width: 30%;
}

mat-form-field {
  width: 40%;
}

.filters-btn{
  background-color: var(--green);
  border-radius: 5px !important;
  color: white;
}
