.filters-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  max-width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}

.mat-form-field {
  height: var(--mat-form-field-container-height);
  padding: var(--mat-form-field-container-vertical-padding);
  font-size: var(--mat-form-field-container-text-size);
}

.filters-btn {
  background-color: var(--green);
  color: white;
}
