.filters-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.filter{
  width: 30%;
}

mat-form-field {
  width: 40%;
}

.filters-btn{
  background-color: var(--green);
  border-radius: 5px !important;
  color: white;
}
