.graph-card {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.graph-card mat-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3%;
  justify-content: flex-start;
}

.graph-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
