.content {
  padding: 50px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  max-width: 100%;

  .top-content{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .section-header{
      flex: 1;

      .title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .subtitle {
        font-size: 1rem;
        color: #666;
      }
    }
    .filters-container{
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      flex: 1;
    }
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .left-section, .right-section {
      border-radius: 8px;
    }

    .right-section{
      display: flex;
      flex-direction: column;
      gap: 2vh;
    }
  }
}

@media (max-width: 768px) {
  .content{
    .main-content {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
  }
}




