<main class="main-container" *ngIf="vehicle && infoForm" [formGroup]="infoForm">
  <section class="section-header">
    <article class="inline-container">
      <img
        [src]="svgService.getServiceIcon(vehicle.service?.id || 0)"
        alt="Service Icon"
        width="28"
        height="28"
        style="cursor: pointer"
        class="mezzo-icon"
      />
      {{ vehicle.service?.name || "Nessun servizio associato" }}
    </article>
    <div class="subtitle">Ultimo aggiornamento: {{vehicle.updatedAt | date: 'dd/MM/yyyy hh:mm'}}</div>
  </section>

  <section class="info-container">
    <mat-divider class="full-width-divider"></mat-divider>

    <article class="container">
      <span class="title">Servizio</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select formControlName="serviceId">
          <mat-option *ngFor="let service of services" [value]="service.id">
            {{ service.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Modello</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput placeholder="Modello" formControlName="model_csv" />
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Zona di lavoro</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select formControlName="workzone">
          <mat-option *ngFor="let workzone of workzones" [value]="workzone.id">
            {{ workzone.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Allestimento</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select formControlName="allestimento">
          <mat-option [value]="true">Blackbox + Antenna</mat-option>
          <mat-option [value]="false">Blackbox</mat-option>
        </mat-select>
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Stato</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput [value]="vehicle.retired_event ? 'Dismesso' : 'Operativo'" readonly>
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Data di ritiro</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput [matDatepicker]="retiredPicker" placeholder="Data di ritiro" formControlName="retired_event" />
        <mat-datepicker-toggle matSuffix [for]="retiredPicker"></mat-datepicker-toggle>
        <mat-datepicker #retiredPicker></mat-datepicker>
      </mat-form-field>
    </article>

    <mat-divider class="full-width-divider"></mat-divider>

    <!-- Seconda riga -->
    <article class="container">
      <span class="title">Noleggio</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select formControlName="rentalId">
          <mat-option value="null">Non noleggiato</mat-option>
          <mat-option *ngFor="let rental of rentals" [value]="rental.id">
            {{ rental.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Data installazione fleet</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput [matDatepicker]="fleetInstallPicker" placeholder="Data installazione fleet" formControlName="fleet_install" />
        <mat-datepicker-toggle matSuffix [for]="fleetInstallPicker"></mat-datepicker-toggle>
        <mat-datepicker #fleetInstallPicker></mat-datepicker>
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Euro</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput placeholder="Euro" formControlName="euro" />
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Immatricolazione</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput [matDatepicker]="registrationPicker" placeholder="Immatricolazione" formControlName="registration" />
        <mat-datepicker-toggle matSuffix [for]="registrationPicker"></mat-datepicker-toggle>
        <mat-datepicker #registrationPicker></mat-datepicker>
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Numero Fleet</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput placeholder="Numero Fleet" formControlName="fleet_number" />
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Elettrico</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select formControlName="electrical">
          <mat-option [value]="true">Sì</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
    </article>

    <mat-divider class="full-width-divider"></mat-divider>

    <!-- Terza riga -->
    <article class="container">
      <span class="title">Impostazione Antenna</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput placeholder="Impostazioni Antenna" formControlName="antenna_setting" />
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Numero Antenna Fleet</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput type="number" placeholder="Numero Antenna Fleet" formControlName="fleet_antenna_number" />
      </mat-form-field>
    </article>

    <article class="container">
      <span class="title">Equipaggiamento</span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-select formControlName="equipmentId">
          <mat-option *ngFor="let equipment of equipments" [value]="equipment.id">
            {{ equipment.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </article>

    <mat-divider class="full-width-divider"></mat-divider>
  </section>

  <span class="save-container" [matTooltip]="!infoForm.dirty ? 'Nessuna modifica da salvare' : ''">
    <button mat-button class="button" (click)="save()"  [disabled]="!infoForm.dirty">Salva modifiche</button>
  </span>
</main>
