<div class="signupForm-container">
  <form [formGroup]="signupForm" class="signup-form" (submit)="signUp()">
    <h1 class="form-title">REGISTRATI</h1>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput class="username" formControlName="username" placeholder="Username">
      <mat-error *ngIf="signupForm.controls['username'].errors?.['required']">
        Lo username è obbligatorio.
      </mat-error>
      <mat-error *ngIf="signupForm.controls['username'].errors?.['maxlength']">
        Lo username è troppo lungo. La lunghezza massima è di 12 caratteri.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" class="email" formControlName="email" placeholder="Email">
      <mat-error *ngIf="signupForm.controls['email'].errors?.['email']">
        Il formato dell'email è errato.
      </mat-error>
      <mat-error *ngIf="signupForm.controls['email'].errors?.['required']">
        L'email è obbligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" class="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="signupForm.controls['password'].errors?.['required']">
        La password è obbligatoria.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Invia</button>

    <p class="login-p">Non hai un account? Registrati <a class="login-link" routerLink="/login">qui</a></p>
  </form>
</div>
