<mat-card class="user-data-card">
  <mat-card-header class="section-header">
    <mat-card-title>Password</mat-card-title>
    <mat-card-subtitle>Scrivi la nuova password</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="passwordForm">
      <div class="container">
        <p>Nuova password:</p>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="newPassword" (keyup)="checkSaveable()">
      </mat-form-field>
      </div>

      <div class="container">
        <p>Conferma password:</p>
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="passwordConfirmation" (keyup)="checkSaveable()">
      </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <div class="actions-container">
      <mat-error>{{errorText}}</mat-error>
      <span [matTooltip]="!isSaveable ? 'Nessun campo modificato' : ''">
        <button mat-raised-button color="primary" class="button"
                (click)="updatePassword()"
                [disabled]="!isSaveable">
          Aggiorna dati utente
        </button>
      </span>
    </div>
  </mat-card-actions>
</mat-card>
