.all-page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}
.header{
  padding-top: .5vh;
  padding-left: 2vw;
  background-color: var(--navbarANDstats-background);
  flex: 3;
}
.content{
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.content-inside{
  display: flex;
}
.go-back{
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: .5vw;
  font-weight: 600;
}
.go-back button{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.go-back button mat-icon{
  width: 100%;
  height: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.go-back button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.title{
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}
.subtitle{
  font-weight: 300;
  line-height: 1;
  margin-top: 0;
  font-size: 14;
}
.left-section{
  display: flex;
  flex: 6;
  gap: 1vw;
  flex-direction: column;
  background-color: var(--navbarANDstats-background);
}
.right-section{
  padding: 20px;
  background-color: var(--background-color);
  flex: 4;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-right: 1vw;
  margin-left: 1vw;
  flex: 3;
  height: calc(100vh - 120px); /* Adjust this value based on your header height */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px; /* Add some padding to account for scrollbar width */
  max-width: 100%;
}
.working{
  width: 100px;
  height: 100px;
  background-color: var(--green);
}
.warning{
  width: 100px;
  height: 100px;
  background-color: var(--yellow);
}
.error{
  width: 100px;
  height: 100px;
  background-color: var(--red);
}
.working,.warning,.error{
  display: flex;
  align-items: flex-end;
  text-wrap: no-wrap;
  font-size: 15px;
}
.generalInfo-card, .deviceInfo-card, .fleetSetup-card, .graph-card, .notes-card{
  background-color: white !important;
}
.notes-header{
  display: flex;
  gap: .5vw;
  flex-direction: column;
  align-items: center;
}
.notes-header mat-icon{
  color: var(--green);
}
.note-author{
  display: flex;
  align-items: center;
  gap: .5vw;
  line-height: 1;
  margin: 0;
}
.note-date{
  font-size: 13px;
  color: gray;
  font-style: italic;
  line-height: 1;
  margin: 0;
}
.generalInfo-card{
  width: 100%;
  height: auto;
}
.fleetSetup-card{
  width: 100%;
  height: auto;
}
.deviceInfo-card{
  width: 100%;
  height: auto;
}
mat-card-header{
  display: flex;
  align-items: center;
}
mat-card-title{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-weight: 500;
}
mat-card-subtitle{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;
  font-weight: 300;
  font-family: 'Inter';
}

.general-lists{
  width: 100%;
  display: flex;
}
.device-lists{
  width: 100%;
  display: flex;
  align-items: center;
}
.fleet-lists{
  display: flex;
  align-items: center;
}

mat-list{
  width: 100%;
}
mat-list-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  text-align: left;
}

.list-label{
  font-size: 12px;
  font-family: 'Inter';
  color: var(--green);
}
mat-divider {
  margin-top: 10px;
  border-top-width: 2px;
  border-top-color: var(--background-color);
}

mat-list-item p {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter';
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  display: block;
  flex: 1; /* Permette al contenuto di espandersi */
}
mat-list-item span {
  font-size: 14px;
  font-family: 'Inter';
}
.noteSection-container{
  width: 100%;
}
