.all-page{
  width: 100%;
  height: 100%;
  display: flex;
}
.actual-content{
  display: flex;
  flex-direction: column;
}
.placeholder{
  flex: 1;
}
.header{
  height: 100%;
  padding-top: .5vh;
  padding-left: 2vw;
  padding-bottom: 1vh;
  margin: 0;
  background-color: var(--navbarANDstats-background);
  flex: 3;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
}
.go-back{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: .5vw;
  font-weight: bold;
}
.subtitle{
  line-height: 0;
}
.left-section{
  display: flex;
  gap: 1vw;
  flex: 1;
  background-color: var(--navbarANDstats-background);
}
.right-section{
  background-color: var(--background-color);
  flex: 1;
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-right: 2vw;
  flex: 3;
}
.working{
  width: 100px;
  height: 100px;
  background-color: var(--sidebar-color);
}
.warning{
  width: 100px;
  height: 100px;
  background-color: var(--yellow);
}
.error{
  width: 100px;
  height: 100px;
  background-color: var(--red);
}
.working,.warning,.error{
  display: flex;
  align-items: flex-end;
  text-wrap: no-wrap;
  font-size: 15px;
}
.generalInfo-card, .deviceInfo-card, .fleetSetup-card, .graph-card, .notes-card{
  background-color: white !important;
}
.notes-header{
  display: flex;
  gap: .5vw;
  flex-direction: column;
  align-items: center;
}
.notes-header mat-icon{
  color: var(--sidebar-color);
}
.note-author{
  display: flex;
  align-items: center;
  gap: .5vw;
  line-height: 1;
  margin: 0;
}
.note-date{
  font-size: 13px;
  color: gray;
  font-style: italic;
  line-height: 1;
  margin: 0;
}
.generalInfo-card{
  width: 100%;
  height: auto;
}
.fleetSetup-card{
  width: 100%;
  height: auto;
}
.deviceInfo-card{
  width: 100%;
  height: auto;
}
.generalInfo-card mat-card-header{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.deviceInfo-card mat-card-header{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.general-lists{
  width: 100%;
  display: flex;
  align-items: center;
}
.device-lists{
  width: 100%;
  display: flex;
  align-items: center;
}
.fleet-lists{
  width: 100%;
  display: flex;
  align-items: center;
}

mat-list{
  width: 100%;
}
mat-list-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  line-height: 1;
  margin: 0;
}

.list-label{
  color: var(--sidebar-color);
}
mat-divider {
  border-top-width: 2px;
  border-top-color: var(--background-color);
}
