.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

mat-form-field {
  width: 40%;
}

.filters-btn{
  background-color: var(--sidebar-color);
  border-radius: 5px !important;
  color: white;
}
