.title-container{
  padding-left: 2vw;
  padding-top: 1vh;
  margin-bottom: 0;
}
.chart-container{
  pointer-events: none;
}
::ng-deep .legend-item {
  width: 110px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1366px){
  ::ng-deep .legend-item {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
}
