<div class="table-container">
  <table clas mat-table [dataSource]="vehicleTableData" #vehicleTable class="mat-elevation-z8">
    <ng-container matColumnDef="targa">
      <th mat-header-cell *matHeaderCellDef> Targa </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.plate}} </td>
    </ng-container>

    <ng-container matColumnDef="modello">
      <th mat-header-cell *matHeaderCellDef> Modello </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </td>
    </ng-container>

    <ng-container matColumnDef="cantiere">
      <th mat-header-cell *matHeaderCellDef> Cantiere </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.worksite?.name ? vehicle.worksite?.name : "Non assegnato"}} </td>
    </ng-container>

    <ng-container matColumnDef="antenna">
      <th mat-header-cell *matHeaderCellDef> Antenna </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.isRFIDReader ? "SI" : "NO"}} </td>
    </ng-container>

    <ng-container matColumnDef="attivo-ora">
      <th mat-header-cell *matHeaderCellDef> Attivo ora </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.active ? "SI" :"NO"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

