.loading-p{
  font-style: italic;
  color: gray;
}

.nVeicoli {
  margin: 0;
  font-size: 16px;
}

tr, td, th {
  text-align: center;
  width: 200px;
  word-wrap: break-word;
}

.table-container {
  border-radius: 10px;
  height: 70vh;
  margin: 0;
  width: 100%;
  overflow-y: auto;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

tr.comment-row {
  height: 0;
}

tr.comment-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.comment-row:not(.example-expanded-row):active {
  background: #efefef;
}

.vehicle-row td {
  border-bottom-width: 0;
}

.vehicle-comment {
  overflow: hidden;
  display: flex;
}

.comment-section-content{
  padding: 50px;
}

.notes-header{
  display: flex;
  align-items: center;
}

.notes-header .note-icon{
  color: var(--sidebar-color);
}

.expand-btn{
  color: var(--sidebar-color);
}

.comment-icon{
  color: var(--sidebar-color);
}


.filter-menu-btn {
  font-size: 16px;
  min-width: 150px;
  height: 50px;
  color: black;
}

.content{
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.table-over{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  float: left;
  gap: 1vw;
}

.filter-menu-container{
  max-height: 50px;
}


