.nVeicoli{
  margin: 0;
}

tr, td, th {
  text-align: center;
  width: 200px;
}

.table-container {
  border-radius: 10px;
  height: 70vh;
  margin: 0;
  width: auto;
  overflow-y: auto;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}
