<div class="content">
<div class="table-over">
  <button mat-raised-button (click)="resetSelections()">Reimposta filtri</button>
  <p class="nVeicoli">Numero di veicoli: {{vehicleTableData.data.length}}</p>
</div>
<div class="loading-progress" *ngIf="loading">
  <p class="loading-p">Caricamento dei dati dei veicoli...</p>
  <mat-progress-bar mode="determinate" [value]="completedCalls" class="loading-bar"></mat-progress-bar>
</div>
<div class="table-container">
  <table mat-table [dataSource]="vehicleTableData" #vehicleTable class="mat-elevation-z8" multiTemplateDataRows>

    <!-- Colonna Azienda -->
    <ng-container matColumnDef="Azienda">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button [matMenuTriggerFor]="aziendaMenu" class="filter-menu-btn">Azienda</button>
        <mat-menu #aziendaMenu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let vehicle"> <p>{{ "Azienda" }}</p> </td>
    </ng-container>

    <!-- Colonna Targa -->
    <ng-container matColumnDef="Targa">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button [matMenuTriggerFor]="targaMenu" class="filter-menu-btn">Targa</button>
        <mat-menu #targaMenu="matMenu">
          <!-- Checkbox "Seleziona tutto" -->
          <button mat-menu-item (click)="selectDeselectAll($event)">
            <mat-checkbox [checked]="selectService.allOptionsSelected">Seleziona tutto</mat-checkbox>
          </button>
          <mat-divider></mat-divider>
          <!-- Checkbox per ogni veicolo -->
          <button mat-menu-item *ngFor="let vehicle of sortedVehicles" (click)="selectTarga(vehicle, $event)">
            <mat-checkbox [checked]="selectService.isPlateSelected(vehicle.plate)">
              {{ vehicle.plate }}
            </mat-checkbox>
          </button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let vehicle" class="cell">
        <!-- <mat-icon class="vehicle-icon">local_shipping</mat-icon> -->

        <p><mat-icon>local_shipping</mat-icon>{{ vehicle.plate }}</p>
      </td>
    </ng-container>

    <!-- Colonna Marca e Modello -->
    <ng-container matColumnDef="Marca&modello">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button [matMenuTriggerFor]="marcaMenu" class="filter-menu-btn">Marca e modello</button>
        <mat-menu #marcaMenu="matMenu">
          <!-- Checkbox "Seleziona tutto" per tutti i modelli -->
          <button mat-menu-item (click)="selectDeselectAll($event)">
            <mat-checkbox [checked]="selectService.allOptionsSelected">Seleziona tutto</mat-checkbox>
          </button>

          <mat-divider></mat-divider>

          <!-- Checkbox per ogni vehicle modello -->
          <button mat-menu-item *ngFor="let vehicle of filterVehiclesModelsDuplicates()" (click)="selectModel(vehicle, $event)">
            <mat-checkbox [checked]="selectService.isModelSelected(vehicle.model)">
              {{ vehicle.model }}
            </mat-checkbox>
          </button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let vehicle" class="cell"><p>{{ vehicle.model }}</p></td>
    </ng-container>


    <!-- Colonna Cantiere -->
    <ng-container matColumnDef="Cantiere">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button [matMenuTriggerFor]="cantiereMenu" class="filter-menu-btn">Cantiere</button>
        <mat-menu #cantiereMenu="matMenu">
          <!-- Checkbox "Seleziona tutto" per tutti i modelli -->
          <button mat-menu-item (click)="selectDeselectAll($event)">
            <mat-checkbox [checked]="selectService.allOptionsSelected">Seleziona tutto</mat-checkbox>
          </button>

          <mat-divider></mat-divider>

          <!-- Checkbox per ogni vehicle cantiere -->
          <button mat-menu-item *ngFor="let vehicle of filterVehiclesCantieriDuplicates()" (click)="selectCantiere(vehicle, $event)">
            <mat-checkbox [checked]="selectService.isCantiereSelected(vehicle.worksite?.name)" (click)="selectCantiere(vehicle, $event)">{{ vehicle.worksite?.['name'] || 'Non assegnato' }}</mat-checkbox>
          </button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let vehicle">
        {{ vehicle.worksite?.name  ? vehicle.worksite?.name  : "non assegnato" }}
      </td>
    </ng-container>


    <!-- Colonna Anno immatricolazione -->
    <ng-container matColumnDef="Anno immatricolazione">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button [matMenuTriggerFor]="annoMenu" class="filter-menu-btn">Anno immatricolazione</button>
        <mat-menu #annoMenu="matMenu">
          <!-- Checkbox "Seleziona tutto" -->
          <button mat-menu-item (click)="selectDeselectAll($event)">
            <mat-checkbox [checked]="selectService.allOptionsSelected">Seleziona tutto</mat-checkbox>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let vehicle">{{ "anno" }}</td>
    </ng-container>

    <!-- Colonna Tipologia attrezzatura -->
    <ng-container matColumnDef="Tipologia attrezzatura">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button [matMenuTriggerFor]="attrezzaturaMenu" class="filter-menu-btn">Tipologia attrezzatura</button>
        <mat-menu #attrezzaturaMenu="matMenu">
          <!-- Checkbox "Seleziona tutto" -->
          <button mat-menu-item (click)="selectDeselectAll($event)">
            <mat-checkbox [checked]="selectService.allOptionsSelected">Seleziona tutto</mat-checkbox>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let vehicle">{{ "tipo" }}</td>
    </ng-container>

    <!-- Colonna Allestimento -->
    <ng-container matColumnDef="Allestimento">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button [matMenuTriggerFor]="allestimentoMenu" class="filter-menu-btn">Allestimento</button>
        <mat-menu #allestimentoMenu="matMenu">
          <!-- Checkbox "Seleziona tutto" -->
          <button mat-menu-item (click)="selectDeselectAll($event)">
            <mat-checkbox [checked]="selectService.allOptionsSelected">Seleziona tutto</mat-checkbox>
          </button>

          <mat-divider></mat-divider>

          <button mat-menu-item (click)="selectAllestimento('blackbox', $event)">
            <mat-checkbox [checked]="selectService.checkAllestimento('blackbox')">Blackbox</mat-checkbox>
          </button>
          <button mat-menu-item (click)="selectAllestimento('blackbox+antenna', $event)">
            <mat-checkbox [checked]="selectService.checkAllestimento('blackbox+antenna')">Blackbox + antenna</mat-checkbox>
          </button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.isRFIDReader ? "Blackbox+antenna": "Blackbox" }}</td>
    </ng-container>

    <!-- Colonna Data installazione fleet -->
    <ng-container matColumnDef="Data-installazione-fleet">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button [matMenuTriggerFor]="installazioneMenu" class="filter-menu-btn">Data installazione fleet</button>
        <mat-menu #installazioneMenu="matMenu">
          <!-- Checkbox "Seleziona tutto" -->
          <button mat-menu-item (click)="selectDeselectAll($event)">
            <mat-checkbox [checked]="selectService.allOptionsSelected">Seleziona tutto</mat-checkbox>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item *ngFor="let vehicle of filterFirstEventsDuplicates()" (click)="selectFirstEvent(vehicle, $event)">
            <mat-checkbox [checked]="selectService.isFirsteventSelected(vehicle.firstEvent)">{{ vehicle.firstEvent | date:'dd/MM/yyyy' }}</mat-checkbox>
          </button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.firstEvent | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <!-- Colonna Data rimozione apparato -->
    <ng-container matColumnDef="Data-rimozione-apparato">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-button [matMenuTriggerFor]="rimozioneMenu" class="filter-menu-btn">Data rimozione apparato</button>
        <mat-menu #rimozioneMenu="matMenu">
          <!-- Checkbox "Seleziona tutto" -->
          <button mat-menu-item (click)="selectDeselectAll($event)">
            <mat-checkbox [checked]="selectService.allOptionsSelected">Seleziona tutto</mat-checkbox>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.retiredEvent ? "SI" : "NO" }}</td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let vehicle">
        <button mat-icon-button aria-label="expand row" (click)="checkVehicleExpansion(vehicle); $event.stopPropagation()">
          @if (this.expandedVehicle === vehicle) {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="comment-section">
      <td mat-cell *matCellDef="let vehicle" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div>
          <div class="vehicle-comment"
          [@detailExpand]="vehicle.veId === expandedVehicle?.veId ? 'expanded' : 'collapsed'">
          <div class="comment-section-content">
            <div class="notes-header">
              <mat-icon>
                edit_square
              </mat-icon>
              <span style="margin-left: 8px;">Nota di {{user.username}}</span>
            </div>
            <th mat-header-cell *matHeaderCellDef></th>
            <td>
              <app-note-section [vehicle]="vehicle" [user]="user"></app-note-section>
            </td>
          </div>
        </div>
        </div>
      </td>
    </ng-container>


    <!-- Definizione righe della tabella -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;"></tr>
    <tr
    mat-row
    *matRowDef="let row; columns: ['comment-section']"
    class="comment-row"
  ></tr>
  </table>
</div>
</div>
