<span class="n-societa">Numero di società: {{societaTableData.data.length}}</span>
<div class="table-container">
  <table
    mat-table
    [dataSource]="societaTableData"
    #societaTable
    class="societa-table table"
    matSort
    (matSortChange)="
      societaTableData.data = sortSocietaByMatSort(societaTableData.data)
    "
  >
    <ng-container matColumnDef="SuId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SuId</th>
      <td mat-cell *matCellDef="let societa">{{ societa.suId || "-" }}</td>
    </ng-container>

    <ng-container matColumnDef="Societa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Società</th>
      <td mat-cell *matCellDef="let societa">
        <div class="societa-container">
          <span style="font-weight: 500"> {{ societa.name }} </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Comuni associati">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Comuni associati
      </th>
      <td mat-cell *matCellDef="let societa">
        {{ societa.groupCount }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Cantieri associati">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Cantieri associati
      </th>
      <td mat-cell *matCellDef="let societa">{{ societa.worsksiteCount }}</td>
    </ng-container>

    <ng-container matColumnDef="Azioni">
      <th mat-header-cell *matHeaderCellDef class="right-text">Azioni</th>
      <td mat-cell *matCellDef="let societa" class="right-text">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editSocieta(societa)">
            <mat-icon>dialpad</mat-icon>
            <span>Modifica</span>
          </button>
          <button mat-menu-item (click)="deleteSocieta(societa)">
            <mat-icon>delete_outline</mat-icon>
            <span>Elimina</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">Nessuna società trovata</td>
    </tr>
  </table>
</div>
