<div class="container">
  <app-kanban-filters></app-kanban-filters>
  <div class="columns">
    <!-- Working Column -->
    <div class="working-col column">
      <div class="header">
        <div class="OK-container">
          <mat-icon class="sessionIcon-OK">settings_backup_restore</mat-icon>
          OK
        </div>
        <span class="nMezzi">{{
          workingVehicles.length
        }}</span>
      </div>
      {{
          getVehiclesPercentage(workingVehicles)
          .toFixed(0) + "%"
      }}
      <mat-progress-bar
        mode="determinate"
        [value]="
          getVehiclesPercentage(
            workingVehicles
          )
        "
        class="progress-bar working-bar"
        color="accent"
      ></mat-progress-bar>
      <div class="scrollable-list">
        <mat-list>
          <mat-list-item
            *ngFor="let vehicleData of workingVehicles"
          >
            <div class="vehicle" matTooltip="Sessione corretta">
              <div class="left-container">
                <p class="cantiere">
                  {{
                    vehicleData.vehicle.worksite?.name
                      ? vehicleData.vehicle.worksite?.name
                      : "non assegnato"
                  }}
                </p>
                <mat-icon
                  (click)="showMap(vehicleData)"
                  *ngIf="today"
                  matTooltip="Click per visualizzare l'ultima posizione registrata sulla mappa"
                  class="map-icon"
                  >map</mat-icon
                >
              </div>
              <span class="plate-container">{{
                vehicleData.vehicle.plate
              }}</span>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <!-- Error Column -->
    <div class="error-col column">
      <div class="header">
        <div class="error-container">
          <mat-icon class="errorIcon-error">settings_backup_restore</mat-icon>
          Error
        </div>
        <span class="nMezzi">{{
         getAllErrorVehicles().length
        }}</span>

        <mat-chip-listbox class="mat-chip-listbox-inline" aria-label="Cutest dog breeds" [hideSingleSelectionIndicator]="true">
          <span
          [matTooltip]="kanbanSessioneService.errorVehicles.nullVehicles.length <= 0 ? 'Nessuna anomalia di sessione nulla': ''"
          >
            <mat-chip-option
            [disabled]="kanbanSessioneService.errorVehicles.nullVehicles.length <= 0"
            [ngClass]="{'selected' : selectedAnomalies.includes('Nulla')}"
            (click)="filterKanbanAnomalies('Nulla')">
            Nulla
          </mat-chip-option>
          </span>
          <span
          [matTooltip]="kanbanSessioneService.errorVehicles.stuckVehicles.length <= 0 ? 'Nessuna anomalia di sessione bloccata': ''"
          >
            <mat-chip-option
            [disabled]="kanbanSessioneService.errorVehicles.stuckVehicles.length <= 0"
            [ngClass]="{'selected' : selectedAnomalies.includes('Bloccata')}"
            (click)="filterKanbanAnomalies('Bloccata')">
            Bloccata
          </mat-chip-option>
          </span>
          <span
          [matTooltip]="kanbanSessioneService.errorVehicles.powerVehicles.length <= 0 ? 'Nessuna anomalia di alimentazione': ''"
          >
            <mat-chip-option
            [ngClass]="{'selected' : selectedAnomalies.includes('Alimentazione')}"
            [disabled]="kanbanSessioneService.errorVehicles.powerVehicles.length <= 0"
            (click)="filterKanbanAnomalies('Alimentazione')">
            Alimentazione
          </mat-chip-option>
          </span>
        </mat-chip-listbox>
      </div>
      {{
          getVehiclesPercentage(getAllErrorVehicles())
          .toFixed(0) + "%"
      }}
      <mat-progress-bar
        mode="determinate"
        color="accent"
        [value]="
          getVehiclesPercentage(
            getAllErrorVehicles()
          )
        "
        class="progress-bar error-bar"
      ></mat-progress-bar>
      <div class="scrollable-list">
        <mat-list>
          <mat-list-item
            *ngFor="let vehicleData of getAllErrorVehicles()"
          >
            <div
              class="vehicle"
              [matTooltip]="
                checkErrorsService.checkVehicleSessionError(vehicleData)
              "
            >
              <div class="left-container">
                <p class="cantiere">
                  {{
                    vehicleData.vehicle.worksite?.name
                      ? vehicleData.vehicle.worksite?.name
                      : "non assegnato"
                  }}
                </p>
                <mat-icon
                  (click)="showMap(vehicleData)"
                  *ngIf="today"
                  matTooltip="Click per visualizzare l'ultima posizione registrata sulla mappa"
                  class="map-icon"
                  >map</mat-icon
                >
              </div>
              <span class="plate-container">{{
                vehicleData.vehicle.plate
              }}</span>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
