<div class="content" *ngIf="vehicle">
  <h2 class="go-back title">
    <button mat-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon></button
    >Torna alla gestione dei veicoli
  </h2>
  <div class="section-header">
    <div class="title">Modifica veicolo {{veId}}</div>
    <div class="subtitle">Modifica i dati del veicolo</div>
  </div>
  <main class="main-content">
    <app-info-edit
      *ngIf="vehicle as v"
      [vehicle]="v"
      [services]="services"
      [workzones]="workzones"
      [rentals]="rentals"
      [equipments]="equipments"
      (updateVehicle)="updateVehicle($event)">
    </app-info-edit>


    <app-change-worksite *ngIf="vehicle" [vehicle]="vehicle" [worksites]="worksites" (worksiteChange)="saveWorksiteHistory($event)"></app-change-worksite>

    <section class="storico-container">
      <app-storico-cantieri *ngIf="veId" [veId]="veId" [newWorksiteHistory]="newWorksiteHistory"></app-storico-cantieri>
    </section>
  </main>
</div>
