.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.section-header{
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.filters{
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
