<div class="content" *ngIf="users?.length">
  <div class="section-header">
    <div class="inline-container">
      <mat-icon>person</mat-icon>
      <h4 class="title">Gestione utenti: {{ this.users.length }}</h4>
    </div>
    <button mat-button (click)="createNewUser()" class="button">
      Crea utente
    </button>
  </div>
  <div class="filters inline-container">
    <app-gestione-filters [users]="users"></app-gestione-filters>
    <mat-slide-toggle [(ngModel)]="eliminatedVisibile">Visualizza utenti eliminati</mat-slide-toggle>
  </div>
  <app-utenti-table [users]="users" [eliminatedVisible]="eliminatedVisibile"></app-utenti-table>
</div>
