.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--navbarANDstats-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 2px solid white;
  white-space: nowrap;
}

.left-side {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.page-p {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.page-p mat-icon{
  transform: scale(0.5);
}

.logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.account-circle {
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  border-radius: 40px;
  background-size: cover;
  font-size: 14px;
  color: white;
}

.account-circle .admin-name{
  font-size: 18px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-info .username {
  font-size: 14px;
  margin: 0;
  line-height: 1;
  padding: 0;
}

.profile-info .role {
  font-size: 12px;
  margin: 0;
  line-height: 1;
  padding: 0;
  color: rgb(175, 175, 175);
  font-style: italic;
}

.menu-btn {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.menu-btn mat-icon {
  width: 70px;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
}

.notifications-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications-btn mat-icon {
  font-size: 40px;
  line-height: 1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
