.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--navbarANDstats-brackground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 2px solid white;
}

.left-side {
  height: 100%;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.page-p{
  display: inline-flex;
}


.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url("/assets/logo-noname.png");
  background-size: cover;
  cursor: pointer;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.account-circle {
  height: 50px;
  width: 50px;
  background-image: url("/assets/account_circle.png");
  background-size: cover;
}

.account-circle-btn {
  height: 50px;
  width: 50px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.username {
  font-size: 18px;
  margin: 0;
  line-height: 1;
  padding: 0;
}

.role {
  font-size: 10px;
  margin: 0;
  line-height: 1;
  padding: 0;

  color: rgb(175, 175, 175);
  font-style: italic;
}


.menu-btn{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.menu-btn mat-icon{
  width: 70px;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}
.notifications-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications-btn mat-icon {
  font-size: 30px;
  line-height: 1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

