<mat-toolbar class="navbar">
  <div class="left-side">
    <p class="page-p"><mat-icon>{{icon}}</mat-icon>/{{currentPage}}<span *ngIf="isKanban">/Kanban</span></p>
  </div>
  <div class="right-side">
    <!-- <button mat-button class="notifications-btn"><mat-icon>notifications</mat-icon></button> -->
    <div class="profile-info">
      <p class="username">{{name}} {{surname}}</p>
      <p class="role">{{role}}</p>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" class="account-circle-btn"><div mat-card-avatar class="account-circle"></div></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Esci</button>
    </mat-menu>
  </div>
</mat-toolbar>
