.table-container {
  height: 70vh;
  overflow-y: auto;
  width: 100%;
}

.user-table {
  width: 100%;
  table-layout: fixed;
}
.user-container {
  display: inline-flex;
  align-items: center;
  gap: 3px;
}
.user-table th,
.user-table td {
  padding: 0px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.right-text {
  text-align: right;
}
.state-circle {
  height: 11px;
  width: 11px;
  border-radius: 50%;
}
.active-circle {
  background-color: lightgreen;
  animation: blink 3s infinite; /* Aggiungi l'animazione di lampeggio */
}

@keyframes blink {
  0% {
    opacity: 1; /* Opacità piena */
  }
  50% {
    opacity: 0; /* Invisibile al 50% dell'animazione */
  }
  100% {
    opacity: 1; /* Torna visibile al 100% */
  }
}
.inactive-circle {
  background-color: var(--red);
}
