<div class="table-container">
  <table
    mat-table
    [dataSource]="utentiTableData"
    #utentiTable
    class="user-table table"
    matSort
    (matSortChange)="
      utentiTableData.data = sortUsersByMatSort(utentiTableData.data)
    "
  >
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <ng-container matColumnDef="Utente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Utente</th>
      <td mat-cell *matCellDef="let user">
        <div class="user-container">
          @if(user.name == "admin"){
          <span class="inline-container"
            ><mat-icon>person</mat-icon> Admin</span
          >
          }@else {
          <span class="inline-container"
            ><mat-icon>person</mat-icon> {{ user.name }}
            {{ user.surname }}</span
          >
          }
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let user" style="font-weight: 500">
        {{ user.username }}
      </td>
    </ng-container>

    <ng-container matColumnDef="E-mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="Ruolo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ruolo</th>
      <td mat-cell *matCellDef="let user">{{ user.role }}</td>
    </ng-container>

    <ng-container matColumnDef="Stato">
      <th mat-header-cell *matHeaderCellDef>Stato</th>
      <td mat-cell *matCellDef="let user">
        <ng-container *ngIf="user.active; else notActive">
          <div class="inline-container">
            Attivo
            <div class="state-circle active-circle"></div>
          </div>
        </ng-container>

        <ng-template #notActive>
          <div class="inline-container">
            Sospeso
            <div class="state-circle inactive-circle"></div>
          </div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="Azioni">
      <th mat-header-cell *matHeaderCellDef class="right-text">Azioni</th>
      <td mat-cell *matCellDef="let user" class="right-text">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="showProfile(user)">
            <mat-icon>dialpad</mat-icon>
            <span>Modifica</span>
          </button>

          <button mat-menu-item (click)="toggleUserAbilitation(user)">
            <ng-container *ngIf="user.active; else enable">
              <div style="display: flex; align-items: center">
                <mat-icon>do_not_disturb</mat-icon>
                <span>Disattiva</span>
              </div>
            </ng-container>
            <ng-template #enable>
              <div style="display: flex; align-items: center">
                <mat-icon>power_settings_new</mat-icon>
                <span>Abilita</span>
              </div>
            </ng-template>
          </button>

          <button mat-menu-item (click)="deleteUser(user)">
            <mat-icon>delete_outline</mat-icon>
            <span>Elimina</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">Nessun utente trovato</td>
    </tr>
  </table>
</div>
