<div class="filters-container">
  <div class="inline-container" [formGroup]="changeWorksiteForm">
    <span class="title">Cambia cantiere</span>
    <mat-form-field class="filter" appearance="outline" subscriptSizing="dynamic">
      <mat-select formControlName="worksite">
        <mat-option *ngFor="let worksite of worksites" [value]="worksite.id">
          {{ worksite.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <input matInput [matDatepicker]="picker" placeholder="Data di ritiro" formControlName="dateFrom" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <input matInput placeholder="Commento" formControlName="comment">
    </mat-form-field>
    <span [matTooltip]="!changeWorksiteForm.valid ? 'Inserire i dati' : checkSameWorksite() ? 'Selezionare un cantiere diverso da quello attuale' : ''">
      <button mat-button class="button" (click)="save()" [disabled]="!changeWorksiteForm.valid || checkSameWorksite()" >Salva</button>
    </span>
  </div>
</div>
