.title{
  font-weight: bold;
  font-size: 1em;
}


.mat-chip-listbox-inline mat-chip-option {
  width: auto;
}

.selected-chip {
  background-color: var(--green) !important;
  color: white !important;
}




