.title{
  font-weight: bold;
  font-size: 1em;
}
.mat-mdc-chip {
  background-color: white !important;
  color: var(--green) !important;
  outline: 1px solid var(--green) !important;
}

.mat-mdc-chip:hover {
  background-color: var(--green) !important;
  color: black !important;
}

.mat-mdc-chip.selected {
  background-color: var(--green) !important;
  color: white !important;
  outline: 1px solid var(--green) !important;
}

.mat-chip-listbox-inline mat-chip-option {
  width: auto;
}

.selected-chip {
  background-color: var(--green) !important;
  color: white !important;
}



