.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  .go-back button {
    height: 50px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .go-back.title {
    font-size: 24px;
    font-family: Inter;
  }


  .go-back button mat-icon {
    width: 100%;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-header{
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
}

.filters-container{
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;

  .notifications-update{
    display: inline-flex;
    align-items: center;
    gap: 1vw;
  }
}
