.loading-p{
  font-style: italic;
  color: gray;
}

/* Contenitore della tabella */
.table-container {
  border-radius: 10px;
  height: 80vh;
  overflow-y: auto;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  display: block; /* Assicurati che la tabella abbia un comportamento di contenitore di blocco */
}

/* Stili per le righe della tabella */
tr.mat-header-row, tr.mat-row {
  height: 100%; /* Assicurati che le righe abbiano un'altezza di 100% */
  display: flex;
  justify-content: center; /* Centra le righe */
}

/* Centra il contenuto nelle celle (sia nelle righe che nelle intestazioni) */
.mat-cell, th.mat-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centra il testo se non usi Flexbox */
  height: 100%;
  box-sizing: border-box;
}

/* Aggiungi la classe header-center per il contenuto centrato nell'intestazione */
.header-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centra il contenuto in tutte le celle (td) */
td.mat-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

/* Icone di stato */
.warning-icon {
  color: #ffcc00;
}

.error-icon {
  color: #d12717;
}

.check-icon {
  color: var(--sidebar-color);
}

/* Contenitore per le icone nelle celle */
.icon-container {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* Icona antenna */
.antenna-icon, .close-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 24px;
}

/* Stili per l'antenna e la chiusura */
.antenna-icon {
  color: #479dff;
}

.close-icon {
  color: #d12717;
}

.warning-icon, .error-icon, .check-icon, .antenna-icon, .close-icon, .noAntenna-icon {
  cursor: pointer;
  transition: transform 0.2s;
}

/* Utilizzo di Flexbox per la riga con le celle */
.table-over {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
