<div class="loading-progress" *ngIf="loadingProgress < 100">
  <p class="loading-p">Caricamento dei veicoli...</p>
  <mat-progress-bar
    mode="determinate"
    [value]="loadingProgress"
    class="loading-bar"
  ></mat-progress-bar>
</div>
<div class="table-container">
  <table
    #vehicleTable
    mat-table
    [dataSource]="vehicleTableData"
    matSort
    (matSortChange)="vehicleTableData.data = sortVehiclesByMatSort(vehicleTableData.data)"
    class="table"
  >

    <!-- Tipologia column -->
    <ng-container matColumnDef="Active">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let vehicleData">
        <div class="centra-icona">
          <span [ngStyle]="{ 'visibility': vehicleData?.realtime?.active ? 'visible' : 'hidden' }" class="movimento-icona" style="font-size: 18px;">🚀</span>
        </div>
      </td>
    </ng-container>


    <!-- Tipologia column -->
    <ng-container matColumnDef="Servizio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{'servicePadding': !today}">Servizio</th>
      <td mat-cell *matCellDef="let vehicleData" [ngClass]="{'servicePadding': !today}">
        <div style="display: flex; align-items: center; gap: 8px;">
          <mat-icon
            style="cursor: pointer"
            matTooltip="Click per maggiori dettagli sul veicolo"
            (click)="displayVehicleDetail(vehicleData.vehicle.veId)"
          >
            local_shipping
          </mat-icon>
          <span>{{ vehicleData.vehicle?.service?.name || "Nessun dato" }}</span>
        </div>
      </td>
    </ng-container>

    <!-- Targa Column -->
    <ng-container matColumnDef="Targa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Targa</th>
      <td mat-cell *matCellDef="let vehicleData">
        <span class="plate-container" style="font-weight: 600;">
          {{ vehicleData.vehicle.plate }}
        </span>
      </td>
    </ng-container>

    <!-- Cantiere Column -->
    <ng-container matColumnDef="Cantiere">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantiere</th>
      <td mat-cell *matCellDef="let vehicleData">
        {{ checkWorksite(vehicleData) }}
      </td>
    </ng-container>

    <!-- GPS Column -->
    <ng-container matColumnDef="GPS">
      <th mat-header-cell *matHeaderCellDef>Stato GPS</th>
      <td mat-cell *matCellDef="let vehicleData">
        <!-- Controllo GPS funzionante -->
        <div
          *ngIf="
            !checkErrorsService.checkVehicleGpsError(vehicleData) &&
            !checkErrorsService.checkVehicleGPSWarning(vehicleData)
          "
          class="OK-container"
          matTooltip="GPS funzionante"
        >
          OK
        </div>

        <!-- Controllo avviso GPS -->
        <div class="anomaly-container" [matTooltip]="checkErrorsService.checkVehicleGPSWarning(vehicleData)">
          <div class="warning-container" *ngIf="checkErrorsService.checkVehicleGPSWarning(vehicleData) && checkErrorsService.getVehicleGPSAnomalyCount(vehicleData)! > 0">
            {{checkErrorsService.getVehicleGPSAnomalyCount(vehicleData)}} gg
          </div>
          <div
          *ngIf="checkErrorsService.checkVehicleGPSWarning(vehicleData)"
          class="warning-container"
          >
            Warn
          </div>
        </div>

        <!-- Controllo errore GPS -->
         <div class="anomaly-container" [matTooltip]="checkErrorsService.checkVehicleGpsError(vehicleData)">
            <div class="error-container" *ngIf="checkErrorsService.checkVehicleGpsError(vehicleData) && checkErrorsService.getVehicleGPSAnomalyCount(vehicleData)! > 0">
            {{checkErrorsService.getVehicleGPSAnomalyCount(vehicleData)}} gg
           </div>
            <div
            *ngIf="checkErrorsService.checkVehicleGpsError(vehicleData)"
            class="error-container"
          >
            Error
          </div>
         </div>
      </td>
    </ng-container>

    <!-- Antenna Column -->
    <ng-container matColumnDef="Antenna">
      <th mat-header-cell *matHeaderCellDef>Stato Antenna</th>
      <td mat-cell *matCellDef="let vehicleData">
        <div
          class="OK-container"
          *ngIf="
            !checkErrorsService.checkVehicleAntennaError(vehicleData) && vehicleData.vehicle.isRFIDReader
          "
          matTooltip="Antenna funzionante"
        >
          OK
        </div>
        <div
        class="noRFID-container"
        matTooltip="Non ha un'antenna RFID"
        *ngIf="!vehicleData.vehicle.isRFIDReader"
      >
        <mat-icon class="noAntennA-icon">wifi_off</mat-icon>
      </div>
      <div class="anomaly-container" [matTooltip]="checkErrorsService.checkVehicleAntennaError(vehicleData) || 'Anomalia antenna RFID'">
        <div class="error-container" *ngIf="checkErrorsService.getVehicleAntennaAnomalyCount(vehicleData)! > 0">
          {{checkErrorsService.getVehicleAntennaAnomalyCount(vehicleData)}} gg
        </div>
        <div
          class="error-container"
          *ngIf="
            checkErrorsService.checkVehicleAntennaError(vehicleData) &&
            vehicleData.vehicle.isRFIDReader
          "
        >
          Error
        </div>
      </div>
      </td>
    </ng-container>

    <!-- Detection quality Column -->
    <ng-container matColumnDef="Detection quality">
      <th mat-header-cell *matHeaderCellDef>Detection quality</th>
      <td mat-cell *matCellDef="let vehicleData">
        <!-- Controllo di detection quality eccellente -->
        <div
          *ngIf="
          checkErrorsService.checkVehicleDetectionQuality(vehicleData)?.includes('Excellent') ||
          checkErrorsService.checkVehicleDetectionQuality(vehicleData)?.includes('EXCELLENT')"
          class="OK-container"
          [matTooltip]="checkErrorsService.checkVehicleDetectionQuality(vehicleData)"
        >
        Excellent
        </div>

        <!-- Controllo di detection quality mediocre -->
        <div
          *ngIf="
          checkErrorsService.checkVehicleDetectionQuality(vehicleData)?.includes('Good') ||
          checkErrorsService.checkVehicleDetectionQuality(vehicleData)?.includes('GOOD')"
          class="warning-container"
          [matTooltip]="checkErrorsService.checkVehicleDetectionQuality(vehicleData)"
        >
        Good
        </div>

        <!-- Controllo di detection quality scarsa -->
        <div
        *ngIf="
        checkErrorsService.checkVehicleDetectionQuality(vehicleData)?.includes('Poor') ||
        checkErrorsService.checkVehicleDetectionQuality(vehicleData)?.includes('POOR')"
        class="error-container"
        [matTooltip]="checkErrorsService.checkVehicleDetectionQuality(vehicleData)"
        >
        Poor
        </div>

        <!-- Controllo di detection quality scarsa -->
        <div
        class="noData"
        *ngIf="!checkErrorsService.checkVehicleDetectionQuality(vehicleData)"
        >
        -
        </div>
      </td>
    </ng-container>



    <!-- Sessione Column -->
    <ng-container matColumnDef="Sessione">
      <th mat-header-cell *matHeaderCellDef>Stato Sessione</th>
      <td mat-cell *matCellDef="let vehicleData">
        <!-- se non c'è errore, data nera -->
        <span
          *ngIf="
            !checkErrorsService.checkVehicleSessionError(vehicleData) &&
              checkErrorsService.getVehicleSessionAnomalyDate(vehicleData);
            else sessionError">
          <!-- icone -->
          <div
            class="OK-container"
            *ngIf="
              !checkErrorsService.checkVehicleSessionError(vehicleData) &&
              checkErrorsService.getVehicleSessionAnomalyDate(vehicleData)
            "
            matTooltip="Sessione corretta"
          >
            OK
          </div>
          <span class="session-date">
            {{
              checkErrorsService.getVehicleSessionAnomalyDate(vehicleData)
                ? (checkErrorsService.getVehicleSessionAnomalyDate(vehicleData)
                  | date : "dd/MM/yy")
                : ""
            }}
          </span>
        </span>
        <!-- se c'è errore  -->
        <ng-template #sessionError>
          <div
            class="anomaly-container"
            *ngIf="checkErrorsService.checkVehicleSessionError(vehicleData)"
            [matTooltip]="
            checkErrorsService.checkVehicleSessionError(vehicleData)"
          >
            <div
              class="error-container"
              *ngIf="checkErrorsService.getVehicleSessionAnomalyCount(vehicleData)! > 0"
            >
              {{ checkErrorsService.getVehicleSessionAnomalyCount(vehicleData) }} gg
            </div>
            <div
              class="error-container"
            >
              Error
            </div>
            <span
              class="session-error-date"
            >
              {{
                checkErrorsService.getVehicleSessionAnomalyDate(vehicleData) ? (checkErrorsService.getVehicleSessionAnomalyDate(vehicleData) | date : "dd/MM/yyyy"): ""
              }}
            </span>
          </div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="Map">
      <th mat-header-cell *matHeaderCellDef>Ultima posizione</th>
      <td mat-cell *matCellDef="let vehicleData">
          <mat-icon class="map-icon" (click)="showMap(vehicleData)" matTooltip="Click per visualizzare l'ultima posizione registrata sulla mappa">map</mat-icon>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let vehicleData; columns: displayedColumns"></tr>
  </table>
</div>
