<div class="filter-container">
  <mat-form-field class="filter-form">
    <mat-select [formControl]="cantieri" placeholder="Seleziona cantieri" multiple>
      <mat-option [value]="cantiere" (click)="selectCantiere(cantiere)" *ngFor="let cantiere of listaCantieri">
        {{cantiere}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div><!--Filter container end-->
<div class="table-container">
  <table *ngIf="vehicleTableData" #vehicleTable mat-table [dataSource]="vehicleTableData" class="mat-elevation-z8 table-el">
    <!-- Comune Column -->
    <ng-container matColumnDef="comune">
      <div class="comune-col">
        <th mat-header-cell *matHeaderCellDef> Veicoli</th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.veId }} </td>
      </div>
    </ng-container>


    <!-- Targa Column -->
    <ng-container matColumnDef="targa">
      <th mat-header-cell *matHeaderCellDef> Targa </th>
      <td mat-cell *matCellDef="let vehicle">{{vehicle.plate}}</td>
    </ng-container>

    <!-- GPS Column -->
    <ng-container matColumnDef="GPS">
      <th mat-header-cell *matHeaderCellDef> GPS </th>
      <td mat-cell *matCellDef="let vehicle">
        <mat-icon
          class="warning-icon"
          [matTooltip]="checkGpsError(vehicle)"
          *ngIf="checkGpsError(vehicle)"
          [matTooltipClass]="'gps-tooltip'">
          warning
        </mat-icon>
        <mat-icon
          class="check-icon"
          *ngIf="vehicle.sessions?.length > 0 && !checkGpsError(vehicle)"
        >
          check_circle
        </mat-icon>
      </td>
    </ng-container>

    <!-- Antenna Column -->
    <ng-container matColumnDef="antenna">
      <th mat-header-cell *matHeaderCellDef> Antenna</th>
      <td mat-cell *matCellDef="let vehicle">
        <mat-icon
        class="error-icon"
        matTooltip="Anomalia antenna"
        *ngIf="checkAntennaError(vehicle)">
          error
        </mat-icon>
        <mat-icon class="check-icon" *ngIf="!checkAntennaError(vehicle)">
          check_circle
        </mat-icon>
      </td>
    </ng-container>

    <!-- Sessione Column -->
    <ng-container matColumnDef="sessione">
      <th mat-header-cell *matHeaderCellDef> Sessione </th>
      <td mat-cell *matCellDef="let vehicle">
        <mat-icon
        class="error-icon"
        matTooltip="Anomali di sessione"
        *ngIf="checkSessionError(vehicle)">
          error
        </mat-icon>
        <mat-icon class="check-icon" *ngIf="!checkSessionError(vehicle)">check_circle</mat-icon>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div><!--Table end-->
