tr,td, th{
  text-align: center;
}
.table-container {
  border-radius: 10px;
  height: 80vh;
  overflow-y: auto;
}

.table-container table{
  max-height: 300px;
  overflow-y: auto;
}

.warning-icon {
  color: rgb(255, 208, 0);
}

.error-icon {
  color: red;
}

.check-icon {
  color: rgb(3, 184, 3);
}

.check-noReader{
  color: #0061ff;
}

.check-noReader, .error-icon, .check-icon, .warning-icon{
  cursor: pointer;
}
