<div class="loading-progress" *ngIf="loading">
  <p class="loading-p">{{loadingText}}</p>
  <mat-progress-bar mode="determinate" [value]="loadingProgress" class="loading-bar"></mat-progress-bar>
</div>
<div class="table-container">
  <table #vehicleTable mat-table [dataSource]="vehicleTableData" matSort (matSortChange)="onSortChange($event)">
    <!-- Tipologia column -->
    <ng-container matColumnDef="tipologia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipologia </th>
      <td mat-cell *matCellDef="let vehicle">
        <mat-icon style="cursor: pointer;" matTooltip="Qualche informazione sul veicolo (click per maggiori dettagli)">local_shipping</mat-icon>
        vehice.tipologia </td>
    </ng-container>

    <!-- Targa Column -->
    <ng-container matColumnDef="targa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Targa </th>
      <td mat-cell *matCellDef="let vehicle">
        <span class="plate-container">
          {{ vehicle.plate }}
        </span>
      </td>
    </ng-container>

    <!-- Comune Column -->
    <ng-container matColumnDef="cantiere">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantiere </th>
      <td mat-cell *matCellDef="let vehicle"> {{ checkWorksite(vehicle) }} </td>
    </ng-container>

    <!-- GPS Column -->
    <ng-container matColumnDef="GPS">
      <th mat-header-cell *matHeaderCellDef> GPS </th>
      <td mat-cell *matCellDef="let vehicle">
        <div class="OK-container" matTooltip="GPS funzionante" *ngIf="!checkGpsError(vehicle) && !checkGpsWarning(vehicle)">
          <mat-icon class="gpsIcon-OK">location_on</mat-icon>
          OK
        </div>
        <div class="warning-container" *ngIf="checkGpsWarning(vehicle)" [matTooltip]="checkGpsWarning(vehicle)">
          <mat-icon class="gpsIcon-warning">location_on</mat-icon>
          Warning
        </div>
        <div class="error-container" *ngIf="checkGpsError(vehicle)" [matTooltip]="checkGpsError(vehicle)">
          <mat-icon class="errorIcon-error">location_on</mat-icon>
          Error
        </div>
      </td>
    </ng-container>

    <!-- Antenna Column -->
    <ng-container matColumnDef="antenna">
      <th mat-header-cell *matHeaderCellDef> Antenna </th>
      <td mat-cell *matCellDef="let vehicle">
        <div class="OK-container" *ngIf="!checkAntennaError(vehicle) && vehicle.isRFIDReader" matTooltip="Antenna funzionante">
          <mat-icon class="gpsIcon-OK">wifi</mat-icon>
          OK
        </div>
        <div class="noRFID-container" matTooltip="Non ha un'antenna RFID" *ngIf="!vehicle.isRFIDReader">
          <mat-icon class="noAntennA-icon">wifi_off</mat-icon>
        </div>
        <div class="error-container" *ngIf="vehicle.isRFIDReader && checkAntennaError(vehicle)" [matTooltip]="checkAntennaError(vehicle) ? checkAntennaError(vehicle) : 'Anomalia antenna RFID'">
          <mat-icon class="errorIcon-error">wifi</mat-icon>
          Error
        </div>
      </td>
    </ng-container>

    <!-- Sessione Column -->
    <ng-container matColumnDef="sessione">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sessione </th>
      <td mat-cell *matCellDef="let vehicle">
        <!-- se non c'è errore, data nera -->
        <span *ngIf="!checkSessionError(vehicle) && vehicle.lastValidSession?.period_to; else sessionError">
          <!-- icone -->
          <div class="OK-container" *ngIf="!checkSessionError(vehicle) && vehicle.lastValidSession?.period_to" matTooltip="Sessione corretta">
            OK
          </div>
          {{ vehicle.lastValidSession?.period_to ? (vehicle.lastValidSession.period_from | date: 'dd/MM/yy hh:mm') : '' }}
        </span>
        <!-- se c'è errore  -->
        <ng-template #sessionError>
          <div class="session-error" *ngIf="checkSessionError(vehicle)">
            <div class="error-container" [matTooltip]="checkSessionError(vehicle)">
              {{calculateSessionErrorDays(vehicle)}}gg
            </div>
            <div class="error-container" [matTooltip]="checkSessionError(vehicle)">
              Error
            </div>
            <span class="session-date" [matTooltip]="checkSessionError(vehicle)">
              {{ vehicle.lastValidSession?.period_to ? (vehicle.lastValidSession.period_from | date: 'dd/MM/yy hh:mm') : '' }}
            </span>
          </div>
        </ng-template>

      </td>
    </ng-container>


    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
