.loading-p {
  font-style: italic;
  color: gray;
}

.table-container {
  border-radius: 10px;
  height: 80vh;
  overflow-y: auto;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  display: block;
}

tr.mat-header-row, tr.mat-row {
  height: 100%;
  display: flex;
  justify-content: center;
}

.mat-cell, th.mat-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.header-center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

td.mat-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.plate-container{
  display: inline-block;
  padding: 3%;
  background-color: #EFEEE4;
}

/*Stile icone*/
.warning-icon {
  color: #ffcc00;
}

.error-icon {
  color: #d12717;
}

.check-icon {
  color: var(--sidebar-color);
}

.icon-container {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.antenna-icon, .close-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  line-height: 24px;
}

.antenna-icon {
  color: #479dff;
}

.close-icon {
  color: #d12717;
}

.warning-icon, .error-icon, .check-icon, .antenna-icon, .close-icon, .noAntenna-icon {
  cursor: pointer;
  transition: transform 0.2s;
}
/*fine stile icone*/

.table-over {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
