<div class="menu">
  <p>Vista: </p>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selectedOption">
    <mat-button-toggle value="table" (click)="chooseKebabMenuOption('table')" class="table"><mat-icon>menu</mat-icon></mat-button-toggle>
    <mat-button-toggle value="GPS" (click)="chooseKebabMenuOption('GPS')" class="GPS"><mat-icon>location_on</mat-icon></mat-button-toggle>
    <mat-button-toggle value="Antenna" (click)="chooseKebabMenuOption('antenna')" class="antenna"><mat-icon>wifi</mat-icon></mat-button-toggle>
    <mat-button-toggle value="sessione" (click)="chooseKebabMenuOption('sessione')" class="sessione"><mat-icon matSuffix>settings_backup_restore</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
