<div class="content">
  <p><mat-icon>local_shipping</mat-icon>Camion differenziata</p>
  <mat-list>
      <mat-list-item>
          <p>Targa</p>
          <p class="plate">data</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <p>Cantiere</p>
          <p class="cantiere">data</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <p>Stato GPS</p>
          <p class="GPS">data</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <p>Stato Antenna</p>
          <p class="antenna">data</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <p>Ultima sessione</p>
          <p class="lastSession">data</p>
      </mat-list-item>
  </mat-list>
</div>
