<div class="content">
  <div class="type-container">
    <p class="type"><mat-icon>local_shipping</mat-icon>{{servizio}} (<span class="session-date">{{ anomalyDate | date : "dd/MM/yyyy" }}</span>)</p>

    <mat-icon (click)="closePopup.emit()">close</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item>
      <div class="list-item-content">
        <p>Targa</p>
        <div class="plate-container">
          <p class="plate">{{plate}}</p>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <div class="list-item-content">
        <p>Cantiere</p>
        <p class="cantiere">{{cantiere}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <div class="list-item-content">
        <p>Stato GPS</p>
        <!-- Controllo GPS funzionante -->
        <div
          *ngIf="
            vehicleSelected &&
            !checkErrorsService.checkGpsWarning(gpsAnomaly) &&
            !checkErrorsService.checkGpsError(gpsAnomaly)
          "
          class="OK-container"
          matTooltip="GPS funzionante"
        >
          <mat-icon class="gpsIcon-OK">location_on</mat-icon>
          OK
        </div>

        <!-- Controllo avviso GPS -->
        <div
          *ngIf="checkErrorsService.checkGpsWarning(gpsAnomaly)"
          class="warning-container"
          [matTooltip]="checkErrorsService.checkGpsWarning(gpsAnomaly)"
        >
          <mat-icon class="gpsIcon-warning">location_on</mat-icon>
          Warning
        </div>

        <!-- Controllo errore GPS -->
        <div
          *ngIf="checkErrorsService.checkGpsError(gpsAnomaly)"
          class="error-container"
          [matTooltip]="checkErrorsService.checkGpsError(gpsAnomaly)"
        >
          <mat-icon class="errorIcon-error">location_on</mat-icon>
          Error
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <div class="list-item-content">
        <p>Stato Antenna</p>
        <div
          class="OK-container"
          *ngIf="vehicleSelected && !antennaAnomaly"
          matTooltip="Antenna funzionante"
        >
          <mat-icon class="antennaIcon-OK">wifi</mat-icon>
          OK
        </div>
        <div
          class="error-container"
          *ngIf="vehicleSelected && antennaAnomaly"
          [matTooltip]="antennaAnomaly || 'Anomalia antenna RFID'"
        >
          <mat-icon class="errorIcon-error">wifi</mat-icon>
          Error
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <div class="list-item-content">
        <p>Stato Ultima sessione</p>
        <div
          class="OK-container"
          *ngIf="vehicleSelected && !sessioneAnomaly"
          matTooltip="Sessione corretta"
        >
          <mat-icon class="sessionIcon-OK">settings_backup_restore</mat-icon>
          OK
        </div>
        <div
          class="error-container"
          *ngIf="vehicleSelected && sessioneAnomaly"
          [matTooltip]="sessioneAnomaly || 'Anomalia sessione'"
        >
          <mat-icon class="sessionIcon-error">settings_backup_restore</mat-icon>
          Error
        </div>
      </div>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button class="button" (click)="viewDetails()">Vedi dettagli</button>
</div>
