mat-list {
  width: 100%;
}

mat-list-item {
  width: 100%;
  height: auto; /* Auto per adattarsi al contenuto */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-list-item div.list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

mat-divider {
  margin-top: 10px;
  border-top-width: 2px;
  border-top-color: var(--background-color);
}

mat-list-item p {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter';
  margin: 0;
  padding: 0;
  flex: none;
  width: auto;
  display: inline-block;
}

mat-list-item p:last-child {
  text-align: right;
}

mat-list-item span {
  font-size: 14px;
  font-family: 'Inter';
}

.type {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0;
  margin: 0;
}

.type-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  padding-left: 0.78rem;
}

.session-container{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
}
