.main-content{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .button-container{
      width: fit-content;
    }

    .download-row{
      display: inline-flex;
      align-items: center;
      gap: 2vw;

      .loading-container{
        display: flex;
        align-items: center;
        gap: 1w;

        .loading-spinner {
          width: 2vw !important;
          height: 2vh !important;
          margin: 0;
        }
      }
    }
  }
}
