.filters-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}

.filters-btn{
  background-color: var(--green);
  border-radius: 5px !important;
  color: white;
}

.filter{
  min-height: 28px;
}

mat-form-field {
  flex: 1;
}
