<div class="filter-container">
  <mat-form-field class="targa-filter" appearance="outline">
    <mat-label>Targa</mat-label>
    <input matInput type="text" placeholder="Targa" #targa class="targa-input" [(ngModel)]="plate" (input)="searchPlates()">
    <button *ngIf="targa.value" matSuffix mat-icon-button aria-label="Clear" (click)="plate='';searchPlates()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon matSuffix *ngIf="!targa.value">search</mat-icon>
  </mat-form-field>

  <mat-form-field class="cantieri-filter filter" appearance="outline">
    <mat-select [formControl]="cantieri" placeholder="Cantiere" multiple class="cantiere-input">
      <mat-option
      [value]="cantiere"
      (click)="selectCantiere(cantiere)"
      *ngFor="let cantiere of cantieriFilterService.listaCantieri"
      >
        {{ cantiere }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>engineering</mat-icon>
  </mat-form-field>

  <mat-form-field class="GPS-state-filter filter" appearance="outline">
    <mat-select [formControl]="gps" placeholder="Stati GPS" multiple class="GPS-input">
      <mat-option value="Seleziona tutto" (click)="selectGps('Seleziona tutto')">Seleziona tutto</mat-option>
      <mat-divider></mat-divider>
      <mat-option
      *ngFor="let option of gpsFilterService.allOptions"
      [value]="option"
      (click)="selectGps(option)">
        {{ option }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>location_on</mat-icon>
  </mat-form-field>

  <mat-form-field class="antenna-filter filter" appearance="outline">
    <mat-select [formControl]="antenne" placeholder="Stati antenna" multiple class="antenna-input">
      <mat-option value="Seleziona tutto" (click)="selectAntenna('Seleziona tutto')">Seleziona tutto</mat-option>
      <mat-divider></mat-divider>
      <mat-option *ngFor="let option of antennaFilterService.allOptions" [value]="option" (click)="selectAntenna(option)">
        {{ option }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>wifi</mat-icon>
  </mat-form-field>

  <mat-form-field class="session-filter filter" appearance="outline">
    <mat-select [formControl]="sessionStates" placeholder="Stati sessione" multiple class="antenna-input">
      <mat-option value="Seleziona tutto" (click)="selectSession('Seleziona tutto')">Seleziona tutto</mat-option>
      <mat-divider></mat-divider>
      <mat-option *ngFor="let option of sessionFilterService.allOptions" [value]="option" (click)="selectSession(option)">
        {{ option }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>settings_backup_restore</mat-icon>
  </mat-form-field>

  <!-- Aggiunta del pulsante
  <div class="button-container">
    <button mat-raised-button color="primary" class="filters-btn">Aggiorna i dati</button>
  </div> -->
</div>
