<div class="filter-container">
  <mat-form-field class="targa-filter" appearance="outline">
    <mat-label>Targa</mat-label>
    <input matInput type="text" placeholder="Targa" #targa class="targa-input" [(ngModel)]="plate" (input)="searchPlates(false)">
    <button *ngIf="targa.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchPlates(true)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="cantieri-filter" appearance="outline">
    <mat-select [formControl]="cantieri" placeholder="Cantiere" multiple class="cantiere-input">
      <mat-option [value]="cantiere" (click)="selectCantiere(cantiere)" *ngFor="let cantiere of cantieriFilterService.listaCantieri">
        {{ cantiere }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="GPS-state-filter" appearance="outline">
    <mat-select [formControl]="gps" placeholder="Stati GPS" multiple class="GPS-input">
      <mat-option value="Seleziona tutto" (click)="selectGps('Seleziona tutto')">Seleziona tutto</mat-option>
      <mat-divider></mat-divider>
      <mat-option value="Funzionante" (click)="selectGps('Funzionante')">Funzionante</mat-option>
      <mat-option value="Warning" (click)="selectGps('Warning')">Warning</mat-option>
      <mat-option value="Errore" (click)="selectGps('Errore')">Errore</mat-option>
    </mat-select>
    <mat-icon matSuffix>location_on</mat-icon>
  </mat-form-field>
  <mat-form-field class="antenna-filter" appearance="outline">
    <mat-select [formControl]="antenne" placeholder="Stati antenna" multiple class="antenna-input">
      <mat-option value="Seleziona tutto" (click)="selectAntenna('Seleziona tutto')">Seleziona tutto</mat-option>
      <mat-divider></mat-divider>
      <mat-option value="Blackbox" (click)="selectAntenna('blackbox')">Blackbox</mat-option>
      <mat-option value="Blackbox+antenna" (click)="selectAntenna('blackbox+antenna')">Blackbox + antenna</mat-option>
    </mat-select>
    <mat-icon matSuffix>wifi</mat-icon>
  </mat-form-field>
  <mat-form-field class="session-filter" appearance="outline">
    <mat-select [formControl]="cantieri" placeholder="Stati sessione" multiple class="antenna-input">
      <mat-option>Seleziona tutto</mat-option>
      <mat-divider></mat-divider>
      <mat-option value="Funzionante">Funzionante</mat-option>
      <mat-option value="Errore">Errore</mat-option>
      <mat-option value="noSession">Nessuna sessione</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Aggiunta del pulsante -->
  <div class="button-container">
    <button mat-raised-button color="primary" class="filters-btn">Aggiorna i dati</button>
  </div>
</div>
