<mat-toolbar class="navbar">
  <div class="left-side">
    <button mat-button class="menu-btn" (click)="notifySidebar()"><mat-icon>menu</mat-icon></button>
    <div mat-card-avatar class="logo" routerLink="home"></div>
    <h4>Gruppo Gesenu</h4>
  </div>
  <div class="right-side">
    <button mat-button class="notifications-btn"><mat-icon>notifications</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menu" class="account-circle-btn"><div mat-card-avatar class="account-circle"></div></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Esci</button>
    </mat-menu>
  </div>
</mat-toolbar>
