.container {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}

.subtitle {
  font-size: 20px;
  color: gray;
  font-style: italic;
  line-height: 1;
}

.progress-bar {
  border-radius: 2px;
  background-color: green !important; /*non funziona*/
  cursor: pointer;
}



.working-col, .warning-col, .error-col {
  flex: 1;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  min-width: 200px;
  max-width: 350px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OK-container, .warning-container, .error-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 3%;
  border-radius: 5px;
  height: 1vh;
  color: white;
}

.OK-container {
  background-color: var(--sidebar-color);
}

.warning-container {
  background-color: var(--yellow);
}

.error-container {
  background-color: var(--red);
}

.vehicle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
}

.vehicle .right-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.vehicle .right-container .map-btn{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vehicle .right-container .map-btn mat-icon{
  color: var(--sidebar-color);
}
.plate {
  text-align: right;
  background-color: #EFEEE4;
  padding: 5px;
}

mat-form-field {
  width: 100%;
}

input[matInput] {
  font-size: 1rem;
  padding: 8px;
}

button {
  width: 100%;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  height: auto !important;
}

mat-icon-button {
  color: #f44336;
}

mat-list-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.scrollable-list {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 20px;
  padding-left: 10px;
}


.scrollable-list::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
