<div class="container">
  <app-kanban-filters></app-kanban-filters>
  <div class="columns">
    <!-- Working Column -->
    <div class="working-col">
      <div class="header">
        <div class="OK-container">
          <mat-icon class="gpsIcon-OK">location_on</mat-icon>
          OK
        </div>
        <span class="nMezzi">{{ kanbanGpsService.workingVehicles.length }}</span>
      </div>
      {{kanbanGpsService.getVehiclesPercentage(kanbanGpsService.workingVehicles).toFixed(0) + '%'}}
      <mat-progress-bar mode="determinate" [value]="kanbanGpsService.getVehiclesPercentage(kanbanGpsService.workingVehicles)" class="progress-bar working-bar" color="accent"></mat-progress-bar>
      <div class="scrollable-list">
        <mat-list>
          <mat-list-item *ngFor="let vehicleData of kanbanGpsService.workingVehicles">
            <div class="vehicle" matTooltip="GPS funzionante">
              <div class="left-container">
                <p class="cantiere">{{ vehicleData.vehicle.worksite?.name ? vehicleData.vehicle.worksite?.name : "non assegnato"}}</p>
                <button mat-button class="map-btn" matTooltip="Click per visualizzare l'ultima posizione registrata sulla mappa" (click)="showMap(vehicleData)"><mat-icon>map</mat-icon></button>
              </div>
              <p class="plate">{{ vehicleData.vehicle.plate }}</p>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <!-- Warning Column -->
    <div class="warning-col">
      <div class="header">
        <div class="warning-container">
          <mat-icon class="gpsIcon-warning">location_on</mat-icon>
          Warning
        </div>
        <span class="nMezzi">{{ kanbanGpsService.warningVehicles.length }}</span>
      </div>
      {{kanbanGpsService.getVehiclesPercentage(kanbanGpsService.warningVehicles).toFixed(0) + '%'}}
      <mat-progress-bar mode="determinate" [value]="kanbanGpsService.getVehiclesPercentage(kanbanGpsService.warningVehicles)" class="progress-bar"></mat-progress-bar>
      <div class="scrollable-list">
        <mat-list>
          <mat-list-item *ngFor="let vehicleData of kanbanGpsService.warningVehicles" >
            <div class="vehicle" [matTooltip]="checkErrorsService.checkVehicleGPSWarning(vehicleData)">
              <div class="left-container">
                <p class="cantiere">{{ vehicleData.vehicle.worksite?.name ? vehicleData.vehicle.worksite?.name : "non assegnato"}}</p>
                <button mat-button class="map-btn" matTooltip="Click per visualizzare l'ultima posizione registrata sulla mappa" (click)="showMap(vehicleData)"><mat-icon>map</mat-icon></button>
              </div>
                <p class="plate">{{ vehicleData.vehicle.plate }}</p>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <!-- Error Column -->
    <div class="error-col">
      <div class="header">
        <div class="error-container">
          <mat-icon class="errorIcon-error">location_on</mat-icon>
          Error
        </div>
        <span class="nMezzi">{{ kanbanGpsService.errorVehicles.length }}</span>
      </div>
      {{kanbanGpsService.getVehiclesPercentage(kanbanGpsService.errorVehicles).toFixed(0) + '%'}}
      <mat-progress-bar mode="determinate" color="warn"
      [value]="kanbanGpsService.getVehiclesPercentage(kanbanGpsService.errorVehicles)" class="progress-bar"></mat-progress-bar>
      <div class="scrollable-list">
        <mat-list>
          <mat-list-item *ngFor="let vehicleData of kanbanGpsService.errorVehicles">
            <div class="vehicle" [matTooltip]="checkErrorsService.checkVehicleGpsError(vehicleData)">
              <div class="left-container">
                <p class="cantiere">{{ vehicleData.vehicle.worksite?.name ? vehicleData.vehicle.worksite?.name : "non assegnato"}}</p>
                <button mat-button class="map-btn" matTooltip="Click per visualizzare l'ultima posizione registrata sulla mappa" (click)="showMap(vehicleData)"><mat-icon>map</mat-icon></button>
              </div>
              <p class="plate">{{ vehicleData.vehicle.plate }}</p>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
