.filters-container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 1vw;
  background-color: white;
  padding: 5px;
  border-radius: 6px;
}

.filter{
  width: 70%;
}


.filters-btn{
  background-color: var(--green);
  border-radius: 5px !important;
  color: white;
}
