.filters-container {
  width: auto !important;
  display: inline-flex;
  background-color: white;
  padding: 5px;
  border-radius: 6px;
}

.filter {
  flex: 1;
  min-width: 0;
}

@media (max-width: 1366px) {
  .filters-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

