<div class="content-filter">
  <mat-form-field class="date-range" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Range di date</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Inizio">
      <input matEndDate formControlName="end" placeholder="Fine">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
