<div *ngIf="vehicle && user" class="all-page">
  <div class="content">
    <div class="left-section">
      <div class="section-header left-header">
        <h2 class="go-back title">
          <button mat-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon></button
          >{{ goBack_text }}
        </h2>
        <p class="subtitle">
          In questa sezione sono presenti le informazioni dettagliate del mezzo
        </p>
      </div>
      <div class="content-inside">
        <app-anomalies [vehicle]="vehicle"></app-anomalies>
        <div class="cards">
          <!-- Card principale del veicolo -->
          <mat-card class="generalInfo-card card">
            <mat-card-header>
              <mat-card-title>
                <img
                  [src]="svgService.getServiceIcon(vehicle.service?.id ?? 0)"
                  alt="Service Icon"
                  width="28"
                  height="28"
                />
                {{ vehicle.plate }}</mat-card-title>
              <mat-card-subtitle
                >ID: {{ vehicle.veId }} — Dismesso:
                {{
                  vehicle.retired_event ? vehicle.retired_event : "No"
                }}</mat-card-subtitle
              >
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="general-lists lists">
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Modello</span>
                  <p>
                    {{ vehicle.model_csv ? vehicle.model_csv : vehicle.model }}
                  </p></mat-list-item
                >
                <mat-divider></mat-divider>
                <mat-list-item
                  ><span class="list-label">Cantiere</span>
                  <p>{{ vehicle.worksite?.name }}</p></mat-list-item
                >
              </mat-list>
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Immatricolazione</span>
                  <p>
                    {{ vehicle.registration ? vehicle.registration : "" }}
                  </p></mat-list-item
                >
                <mat-divider></mat-divider>
                <mat-list-item
                  ><span class="list-label">Zona di lavoro</span>
                  <p>
                    {{ vehicle.workzone ? vehicle.workzone.name : "" }}
                  </p></mat-list-item
                >
              </mat-list>
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Servizio</span>
                  <p>
                    {{ vehicle.service ? vehicle.service.name : "" }}
                  </p></mat-list-item
                >
                <mat-divider></mat-divider>
                <mat-list-item
                  ><span class="list-label">Proprietario / Locatario</span>
                  <p>
                    {{
                      vehicle.rental
                        ? vehicle.rental.name
                        : vehicle.company?.name
                    }}
                  </p></mat-list-item
                >
              </mat-list>
            </mat-card-content>
          </mat-card>
          <!-- Card statistiche -->
          <mat-card class="stats-card card">
            <mat-card-header>
              <mat-card-title>
                <mat-icon>query_stats</mat-icon>
                Statistiche
              </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="stats-lists lists">
              <div class="sessionStats-container">
                <mat-list>
                  <mat-list-item>
                    <span class="list-label">Sessioni totali</span>
                    <p>{{stats.max_sessions}}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
                <mat-list>
                  <mat-list-item>
                    <span class="list-label">Sessioni registrate</span>
                    <p>{{ stats.num_sessions }}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
                <mat-list>
                  <mat-list-item>
                    <span class="list-label">Giornate controllate</span>
                    <p>{{ stats.num_anomaly }}</p>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </mat-list>
              </div>
              <h6 class="title">Statistiche sulle giornate</h6>
              <mat-list>
                <mat-list-item>
                  <span class="list-label">GPS</span>
                  <p><span class="OK-container container">ok</span>: {{(calculatePercentage(stats.gps.ok)) || 0}}% ({{stats.gps.ok}})</p>
                  <p><span class="warning-container container">warning</span>: {{(calculatePercentage(stats.gps.warning)) || 0}}% ({{stats.gps.warning}})</p>
                  <p><span class="error-container container">error</span>: {{(calculatePercentage(stats.gps.error)) || 0}}% ({{stats.gps.error || 0}})</p>
                  <p><span class="error-container container">Nessun dato</span>: {{(calculatePercentage(stats.gps.null)) || 0}}% ({{stats.gps.null || 0}})</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <span class="list-label">Antenna</span>
                  <p><span class="OK-container container">ok</span>: {{(calculatePercentage(stats.antenna.ok))}}% ({{stats.antenna.ok}})</p>
                  <p><span class="error-container container">Nessun tag letto</span>: {{(calculatePercentage(stats.antenna.notag)) || 0}}% ({{stats.antenna.notag || 0}})</p>
                  <p><span class="error-container container">No tag no session</span>: {{(calculatePercentage(stats.antenna.nosession)) || 0}}% ({{stats.antenna.nosession || 0}})</p>
                  <p><span class="error-container container">Nessun dato</span>: {{(calculatePercentage(stats.antenna.null)) || 0}}% ({{stats.antenna.null || 0}})</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <span class="list-label">Detection Quality</span>
                  <p><span class="OK-container container">excellent</span>: {{(calculatePercentage(stats.detection_quality.excellent)) || 0}}% ({{stats.detection_quality.excellent}})</p>
                  <p><span class="warning-container container">good</span>: {{(calculatePercentage(stats.detection_quality.good)) || 0}}% ({{stats.detection_quality.good || 0}})</p>
                  <p><span class="error-container container">poor</span>: {{(calculatePercentage(stats.detection_quality.poor)) || 0}}% ({{stats.detection_quality.poor || 0}})</p>
                </mat-list-item>
                <mat-list-item>
                  <span class="list-label">Sessione</span>
                  <p><span class="OK-container container">ok</span>: {{(calculatePercentage(stats.session.ok)) || 0}}% ({{stats.session.ok}})</p>
                  <p><span class="error-container container">sessione aperta</span>: {{(calculatePercentage(stats.session.open)) || 0}}% ({{stats.session.open || 0}})</p>
                  <p><span class="error-container container">sessione nulla</span>: {{(calculatePercentage(stats.session.null)) || 0}}% ({{stats.session.null || 0}})</p>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
          <!-- Card fleet info -->
          <mat-card class="fleetSetup-card card">
            <mat-card-content class="fleet-lists lists">
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Allestimento</span>
                  <p>
                    {{
                      vehicle.allestimento ? "Blackbox + Antenna" : "Blackbox"
                    }}
                  </p></mat-list-item
                >
              </mat-list>
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Numero Fleet</span>
                  <p>
                    {{ vehicle.fleet_number ? vehicle.fleet_number : "" }}
                  </p></mat-list-item
                >
              </mat-list>
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Data installazione Fleet</span>
                  <p>
                    {{
                      vehicle.fleet_install
                        ? (vehicle.fleet_install | date : "dd/MM/yyyy")
                        : ""
                    }}
                  </p></mat-list-item
                >
              </mat-list>
            </mat-card-content>
          </mat-card>
          <!-- Card informazioni sul dispositivo -->
          <mat-card class="deviceInfo-card card">
            <mat-card-header>
              <mat-card-title
                ><mat-icon>display_settings</mat-icon
                >Dispositivo</mat-card-title
              >
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="device-lists lists">
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Numero di serie</span>
                  <p>{{ vehicle.device.serial_number }}</p></mat-list-item
                >
                <mat-divider></mat-divider>
                <mat-list-item
                  ><span class="list-label">Data costruzione</span>
                  <p>
                    {{ vehicle.device.date_build | date : "dd/MM/yyyy" }}
                  </p></mat-list-item
                >
              </mat-list>
              <mat-divider></mat-divider>
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Aggiornamenti firmware</span>
                  <p>
                    {{
                      vehicle.device.fw_upgrade_disable
                        ? "Disabilitati"
                        : "Abilitati"
                    }}
                  </p></mat-list-item
                >
                <mat-divider></mat-divider>
                <mat-list-item
                  ><span class="list-label">Cali di tensione</span>
                  <p>{{ vehicle.device.power_fail_detected }}</p></mat-list-item
                >
              </mat-list>
              <mat-divider></mat-divider>
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Ultimo aggiornamento</span>
                  <p>
                    {{ vehicle.device.fw_update | date : "dd/MM/yyyy" }}
                  </p></mat-list-item
                >
                <mat-divider></mat-divider>
                <mat-list-item
                  ><span class="list-label">Batteria RTC</span>
                  <p>
                    {{ vehicle.device.rtc_battery_fail ? "Ok" : "Error" }}
                  </p></mat-list-item
                >
              </mat-list>
              <mat-list>
                <mat-list-item
                  ><span class="list-label">Aggiornamenti ricevuti</span>
                  <p>{{ vehicle.device.fw_upgrade_received }}</p></mat-list-item
                >
                <mat-divider></mat-divider>
                <mat-list-item
                  ><span class="list-label">Ripristino alimentazione</span>
                  <p>
                    {{ vehicle.device.power_on_off_detected }}
                  </p></mat-list-item
                >
              </mat-list>
            </mat-card-content>
          </mat-card>
          <!-- Card note -->
          <mat-card class="notes-card card">
            <mat-card-content>
              <div class="noteSection-container">
                <app-note-section [vehicle]="vehicle"></app-note-section>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="graph-card">
            <mat-card-content>
              <app-detection-graph
                [veId]="vehicle.veId"
                *ngIf="vehicle.allestimento"
              ></app-detection-graph>
              <div class="disabled-graph" *ngIf="!vehicle.allestimento">
                <p>
                  Il grafico per la qualità delle letture non disponibile,
                  perché il veicolo non è dotato di antenna RFID
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="right-section">
      <div class="right-header">
        <div class="section-header">
          <p class="title">Dati storici</p>
          <p class="subtitle">Visualizza i dati storici del mezzo</p>
        </div>
        <app-session-filters></app-session-filters>
      </div>
      <app-session-table [vehicle]="vehicle"></app-session-table>
    </div>
  </div>
</div>
