<div class="content">
  <mat-form-field class="targa-filter" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Targa</mat-label>
    <input matInput type="text" placeholder="Targa" #targa class="targa-input" [(ngModel)]="plate" (input)="searchPlates()">
    <button *ngIf="targa.value" matSuffix mat-icon-button aria-label="Clear" (click)="plate = ''; searchPlates()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon matSuffix *ngIf="!targa.value">search</mat-icon>
  </mat-form-field>

  <mat-form-field class="cantieri-filter filter" appearance="outline" subscriptSizing="dynamic">
    <mat-select [formControl]="cantieri" placeholder="Cantiere" multiple class="cantiere-input" (openedChange)="cantieriSelectOpened = !cantieriSelectOpened">
      <mat-option value="Seleziona tutto" (click)="selectAll()" *ngIf="cantieriSelectOpened">Seleziona tutto</mat-option>
      <mat-divider></mat-divider>
      <mat-option
      [value]="cantiere"
      (click)="selectCantiere()"
      *ngFor="let cantiere of listaCantieri"
      >
        {{ cantiere }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>engineering</mat-icon>
  </mat-form-field>
  <button mat-raised-button (click)="resetSelections()" class="reset-btn button">Reimposta filtri</button>
</div>
