<mat-drawer-container class="main-drawer">
  <mat-drawer #fixedDrawer mode="side" class="fixed-drawer-container" opened *ngIf="!drawer.opened" [style.display]="isLoginPage ? 'none' : 'block'">
    <div class="fixed-drawer-content">
      <div class="fixed-main-actions">
        <button class="menu-btn" (click)="toggleDrawer()"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.8855 6H20.8855V8H12.8855V6ZM4.88547 16H12.8855V18H4.88547V16ZM20.8855 11H4.88547V13H20.8855V11Z" fill="white"/>
</svg>
</button>
        <button routerLink="dashboard" #dashboardBtn><mat-icon>dashboard</mat-icon></button>
        <button routerLink="home-mezzi" #mezziBtn><mat-icon>local_shipping</mat-icon></button>
        <button routerLink="storico-mezzi" #storicoBtn><mat-icon>inventory_2</mat-icon></button>
        <button><mat-icon>map</mat-icon></button>
        <button><mat-icon>manage_accounts</mat-icon></button>
        <button><mat-icon>settings</mat-icon></button>
      </div>
      <div class="log-out">
        <button [matMenuTriggerFor]="menu" class="logout-btn"><mat-icon class="logout-icon">power_settings_new</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Esci</button>
        </mat-menu>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-drawer-container class="drawer-container" [ngClass]="{'bg-image': isLoginPage}">
      <mat-drawer #drawer mode="over" class="sidebar">
        <div class="drawer-content">
            <button mat-button class="menu-btn" (click)="toggleDrawer()"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.8855 6H20.8855V8H12.8855V6ZM4.88547 16H12.8855V18H4.88547V16ZM20.8855 11H4.88547V13H20.8855V11Z" fill="white"/>
</svg>
</button>
              <button mat-button class="dashboard-btn button" routerLink="dashboard">
                <mat-icon>dashboard</mat-icon><span class="drawerIcon-text">Dashboard</span>
              </button>
              <button mat-button class="mezzi-btn button" routerLink="home-mezzi">
                <mat-icon>local_shipping</mat-icon><span class="drawerIcon-text">Mezzi</span>
              </button>
              <button mat-button class="session-history-btn button" routerLink="storico-mezzi">
                <mat-icon>inventory_2</mat-icon><span class="drawerIcon-text">Storico mezzi</span>
              </button>
              <div style="height: 100%; display: flex; align-items: flex-end;">
                <button mat-button><mat-icon>power_settings_new</mat-icon><span class="drawerIcon-text">Esci</span></button>
              </div>
        </div>
      </mat-drawer>

      <div class="sidebar-content">
          <div class="content-area">
          <app-navbar *ngIf="isLogged"></app-navbar>
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-drawer-container>
  </mat-drawer-content>
</mat-drawer-container>
