
.fixed-drawer-container{
  border-radius: 0px;
}
.fixed-drawer-content {
  width: 100%;
  height: 100vh;
  background-color: var(--sidebar-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}

.fixed-drawer-content button {
  width: 100%;
  background-color: transparent;
  border: transparent;
  border-radius: 0px;
  cursor: pointer;
}


.fixed-main-actions {
  margin-top: clamp(10px, 2vh, 20px);
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(5px, 1vh, 10px);
}

.btnSelected {
  border-left: 5px solid white !important;
}



.fixed-main-actions mat-icon,
.log-out mat-icon {
  transform: scale(1.5);
  color: white;
}

.fixed-main-actions button, .log-out button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.log-out {
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: clamp(5px, 1vh, 10px);
  overflow: hidden;
}

.mat-drawer {
  margin: 0;
  padding: 0;
  width: 5vw;
  height: 100vh;
  overflow: hidden;
}

.mat-drawer-content {
  margin-left: 0;
  display: flex;
}

.sidebar-container {
  display: flex;
}

.content-area {
  margin-top: 0;
  flex-grow: 1;
}

.drawer-container {
  width: 100%;
  height: 100%;
}

.sidebar {
  padding: clamp(10px, 2vw, 20px);
  width: 10%;
  background-color: var(--sidebar-color);
  border-radius: 0px;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.sidebar-logo {
  width: clamp(50%, 70%, 70%);
  padding: clamp(2px, 1vw, 5px);
}

hr {
  width: 100%;
}

.main-actions {
  margin-top: clamp(10px, 2vh, 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(5px, 1vh, 10px);
}

.settings {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: clamp(5px, 1vh, 10px);
  flex-grow: 1;
  overflow: hidden;
}

.button {
  color: rgb(0, 0, 0) !important;
  font-size: clamp(16px, 2vw, 20px);
  text-align: left;
}
.log-out mat-icon {
  display: inline-block; /* Necessary for the animation */
  transition: transform 0.5s ease-in-out, color 0.3s ease; /* Smooth transition for both */
}

.log-out mat-icon:hover {
  transform: rotate(360deg); /* Rotate the icon */
  color: red; /* Change color when hovered */
}

.main-actions button{
  background-color: transparent;
  width: 100%;
  border-radius: 0px;
  color: white;
}
