<mat-drawer-container class="main-drawer">
  <mat-drawer #fixedDrawer mode="side" class="fixed-drawer-container" [opened]="isLogged && !isLoginPage" [style.display]="isLoginPage ? 'none' : 'block'">
    <div class="fixed-drawer-content">
      <div class="fixed-main-actions">
        <button class="menu-btn" (click)="drawer.toggle(); fixedDrawer.toggle()">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8855 6H20.8855V8H12.8855V6ZM4.88547 16H12.8855V18H4.88547V16ZM20.8855 11H4.88547V13H20.8855V11Z" fill="white"/>
        </svg>
        </button>
        <button routerLink="dashboard" [ngClass]="{'selectedBtn': router.url == '/dashboard' || router.url == '/'}" ><mat-icon>dashboard</mat-icon></button>
        <button routerLink="home-mezzi" [ngClass]="{'selectedBtn': router.url == '/home-mezzi'}"><mat-icon>local_shipping</mat-icon></button>
        <button routerLink="storico-mezzi" [ngClass]="{'selectedBtn': router.url == '/storico-mezzi'}"><mat-icon>inventory_2</mat-icon></button>
        <button routerLink="home-mappa" [ngClass]="{'selectedBtn': router.url == '/home-mappa'}"><mat-icon>map</mat-icon></button>
        <button routerLink="scarico-letture" [ngClass]="{'selectedBtn': router.url == '/scarico-letture'}"><mat-icon>download</mat-icon></button>
        <button [matMenuTriggerFor]="gestioneMenu" [ngClass]="{'selectedBtn': router.url == '/gestione-utenti'
        || router.url == '/gestione-cantieri'
        || router.url == '/gestione-societa'
        || router.url == '/gestione-veicoli'}"
        *ngIf="user?.role == 'Admin'"><mat-icon>settings</mat-icon></button>
        <mat-menu #gestioneMenu="matMenu" [xPosition]="'after'">
          <button routerLink="gestione-utenti" mat-menu-item>Gestione utenti</button>
          <button routerLink="gestione-veicoli" mat-menu-item>Gestione veicoli</button>
          <button routerLink="gestione-cantieri" mat-menu-item>Gestione cantieri</button>
          <button routerLink="gestione-societa" mat-menu-item>Gestione società</button>
        </mat-menu>
      </div>
      <div class="log-out" (mouseover)="triggerLogoutButtonAnimation('rotated')" (mouseleave)="triggerLogoutButtonAnimation('default')">
        <button [matMenuTriggerFor]="logoutMenu" class="logout-btn">
          <mat-icon class="logout-icon" [@rotatedState]="logoutButtonAnimationState">power_settings_new</mat-icon>
        </button>
        <mat-menu #logoutMenu="matMenu">
          <button mat-menu-item (click)="logout()">Esci</button>
        </mat-menu>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-drawer-container class="drawer-container" [ngClass]="{'bg-image': isLoginPage}">
      <mat-drawer #drawer mode="over" class="sidebar" class="dynamic-drawer">
          <div class="main-actions">
            <button class="menu-btn button" (click)="drawer.toggle(); fixedDrawer.toggle()"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8855 6H20.8855V8H12.8855V6ZM4.88547 16H12.8855V18H4.88547V16ZM20.8855 11H4.88547V13H20.8855V11Z" fill="white"/>
              </svg>
              </button>
              <button class="dashboard-btn button" routerLink="dashboard" [ngClass]="{'selectedBtn': router.url == '/dashboard'}" (click)="drawer.toggle(); fixedDrawer.toggle()">
                <mat-icon>dashboard</mat-icon><span class="drawerIcon-text">Dashboard</span>
              </button>
              <button class="mezzi-btn button" routerLink="home-mezzi" [ngClass]="{'selectedBtn': router.url == '/home-mezzi'}" (click)="drawer.toggle(); fixedDrawer.toggle()">
                <mat-icon>local_shipping</mat-icon><span class="drawerIcon-text">Mezzi</span>
              </button>
              <button class="session-history-btn button" routerLink="storico-mezzi" [ngClass]="{'selectedBtn': router.url == '/storico-mezzi'}" (click)="drawer.toggle(); fixedDrawer.toggle()">
                <mat-icon>inventory_2</mat-icon><span class="drawerIcon-text">Storico mezzi</span>
              </button>
              <button class="button" routerLink="home-mappa" [ngClass]="{'selectedBtn': router.url == '/home-mappa'}" (click)="drawer.toggle(); fixedDrawer.toggle()"><mat-icon>map</mat-icon><span><span class="drawerIcon-text">Mappa</span></span></button>
              <button class="button" routerLink="scarico-letture" [ngClass]="{'selectedBtn': router.url == '/scarico-letture'}" (click)="drawer.toggle(); fixedDrawer.toggle()"><mat-icon>download</mat-icon><span><span class="drawerIcon-text">Scarico letture</span></span></button>
              <div class="gestione-container" *ngIf="user?.role == 'Admin'">
                <button class="button" (click)="isGestioneOpen = !isGestioneOpen" *ngIf="user?.role == 'Admin'"><mat-icon>settings</mat-icon><span class="drawerIcon-text"><span class="inline-container">Gestione <mat-icon>{{isGestioneOpen ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon></span></span></button>
                <div class="indent" *ngIf="isGestioneOpen">
                  <button class="button" routerLink="gestione-veicoli" [ngClass]="{'selectedBtn': router.url == '/gestione-veicoli'}" ><mat-icon>local_shipping</mat-icon><span class="drawerIcon-text" (click)="drawer.toggle(); fixedDrawer.toggle()">Gestione veicoli</span></button>
                  <button class="button" routerLink="gestione-utenti" [ngClass]="{'selectedBtn': router.url == '/gestione-utenti'}" ><mat-icon>group</mat-icon><span class="drawerIcon-text" (click)="drawer.toggle(); fixedDrawer.toggle()">Gestione utenti</span></button>
                  <button class="button" routerLink="gestione-cantieri" [ngClass]="{'selectedBtn': router.url == '/gestione-cantieri'}" ><mat-icon>location_city</mat-icon><span class="drawerIcon-text" (click)="drawer.toggle(); fixedDrawer.toggle()">Gestione cantieri</span></button>
                  <button class="button" routerLink="gestione-societa" [ngClass]="{'selectedBtn': router.url == '/gestione-societa'}" ><mat-icon>business</mat-icon><span class="drawerIcon-text" (click)="drawer.toggle(); fixedDrawer.toggle()">Gestione società</span></button>
                </div>
              </div>

              <button class="button" [matMenuTriggerFor]="menu">
                <mat-icon>power_settings_new</mat-icon><span class="drawerIcon-text">Esci</span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">Esci</button>
              </mat-menu>
          </div>
      </mat-drawer>

      <div class="sidebar-content">
        <div class="content-area">
          <ng-container *ngIf="isAuthLoading">
            <div class="loading-spinner">
              <div class="spinner-container">
                <mat-spinner diameter="100"></mat-spinner>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="!isAuthLoading">
            <ng-container *ngIf="!isLogged; else authenticatedContent">
              <app-login></app-login>
            </ng-container>

            <ng-template #authenticatedContent>
              <div class="content">
                <app-navbar [notifiche]="getToReadNotifications()" (notificheChange)="notifiche"></app-navbar>
                <router-outlet></router-outlet>
              </div>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </mat-drawer-container>
  </mat-drawer-content>
</mat-drawer-container>
