/* fixed drawer */
.main-drawer{
  height: 100%;
}
.fixed-drawer-container {
  border-radius: 0px;
}

.fixed-drawer-content {
  width: 100%;
  height: 100vh;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}

.fixed-drawer-content button {
  width: 100%;
  background-color: transparent;
  border: transparent;
  border-radius: 0px;
  cursor: pointer;
}

.fixed-drawer-content button:hover {
  opacity: .5;
}

.fixed-main-actions {
  margin-top: clamp(10px, 2vh, 20px);
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the menu buttons to the left */
  gap: clamp(5px, 1vh, 10px);
}

.btnSelected {
  border-left: 5px solid white !important;
}

.fixed-main-actions mat-icon,
.log-out mat-icon {
  transform: scale(1.1);
  color: white;
}

.fixed-main-actions button, .log-out button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.log-out {
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: clamp(5px, 1vh, 10px);
  overflow: hidden;
}

.mat-drawer {
  margin: 0;
  padding: 0;
  width: 5vw;
  height: 100vh;
  overflow: hidden;
}

/* dynamic drawer */

.mat-drawer-content {
  margin-left: 0;
  display: flex;
}

.sidebar-container {
  display: flex;
}

.content-area {
  margin-top: 0;
  flex-grow: 1;
}

.drawer-container {
  width: 100%;
  height: 100%;
}

.sidebar {
  padding: clamp(10px, 2vw, 20px);
  width: auto;
  background-color: var(--green);
  border-radius: 0px;
}

.drawer-content {
  height: 100%;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2vh;
  overflow: hidden;
}

.drawer-content button {
  color: white;
  width: auto;
  display: inline-flex;
  padding: 10px 20px;
  box-sizing: border-box;
}

.drawerLogout-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}


.drawer-content button mat-icon {
  transform: scale(1.2);
  margin-right: 10px;
}

.drawerIcon-text {
  font-size: 15px;
  display: inline-block; /* Mantiene il testo in una sola linea */
  white-space: nowrap; /* Evita il wrapping del testo */
  overflow: hidden;
  text-overflow: ellipsis; /* Aggiunge i puntini di sospensione se il testo è troppo lungo */
}


.sidebar-logo {
  width: clamp(50%, 70%, 70%);
  padding: clamp(2px, 1vw, 5px);
}

hr {
  width: 100%;
}

.main-actions {
  margin-top: clamp(10px, 2vh, 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the main action buttons to the left */
  gap: clamp(5px, 1vh, 10px);
}

.main-actions button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-actions mat-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.2);
}

/* Drawer Logout Container - Align button to the bottom and left */
.drawerLogout-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align the logout button to the left */
  justify-content: flex-start; /* Align all content to the top */
  gap: clamp(5px, 1vh, 10px);
  flex-grow: 1;
  overflow: hidden;
}

.drawerLogout-btn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ensures content inside button is aligned left */
  color: white;
}

.drawer-logoutText {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start; /* Aligns text inside button to the left */
  color: white;
  padding: 20px;
}

.log-out mat-icon {
  display: inline-block;
  transition: transform 0.5s ease-in-out, color 0.3s ease;
}

.log-out mat-icon:hover {
  transform: rotate(360deg);
  color: red;
}
