<div class="content">
  <div class="header">
    <div class="section-header">
      <div class="page-name">
        <h2 class="title">Parco mezzi</h2>
        <p class="subtitle">In questa sezione è possibile monitorare lo stato del parco mezzi e accedere alle informazioni di dettaglio di ogni mezzo</p>
      </div>
    </div>
    <div class="filters-container">
      <app-mezzi-filters></app-mezzi-filters>
    </div>
  </div>
  <div class="table-container">
    <app-table></app-table>
  </div>
</div>
