.content {
  height: 100vh;
  padding: 20px;
  background-color: var(--background-color);
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.table-container {
  height: 72vh;
}
.title-main {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 1vh;
}
