.anomalies-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.anomalies{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-left: 2vw;
  flex: 1;
}
.anomalies mat-card{
  width: 6.5vw;
  height: 10vh;
  cursor: pointer;
}
.anomalies mat-card mat-card-header{
  width: 80%;
  display: flex;
  align-items: flex-start;
  color: white;
}
.anomalies mat-card mat-card-content {
  color: white;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Allinea il contenuto verticalmente in basso */
  align-items: flex-start; /* Allinea il contenuto orizzontalmente a sinistra */
}
