<div class="anomalies-container">
  <div class="anomalies" *ngIf="vehicleAnomalies">
    <mat-card class="working" #GPSCard
    [ngStyle]="{'background-color': checkGPSAnomalyColor()}"
    [matTooltip]="gpsAnomaly"
    >
      <mat-card-header><mat-icon >location_on</mat-icon>GPS</mat-card-header>
      <mat-card-content>
        <p *ngIf="gpsStatus == 'Funzionante'">OK</p>
        <p *ngIf="gpsStatus == 'Warning'">Warning</p>
        <p *ngIf="gpsStatus == 'Errore'">Error</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="warning" #antennaCard
    [ngStyle]="{'background-color': antennaStatus == 'Blackbox' ? 'black' : antennaStatus=='Funzionante' ? workingColor : errorColor }"
    [matTooltip]="antennaAnomaly"
    >
      <mat-card-header><mat-icon >wifi_on</mat-icon> Antenna</mat-card-header>
      <mat-card-content>
        <p *ngIf="antennaStatus == 'Funzionante'">OK</p>
        <p *ngIf="antennaStatus == 'Errore'">Error</p>
        <p *ngIf="antennaStatus == 'Blackbox'">No antenna</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="error" #sessionCard
    [ngStyle]="{'background-color' : sessionStatus == 'Funzionante' ? workingColor : errorColor}"
    [matTooltip]="sessionAnomaly"
    >
      <mat-card-header><mat-icon matSuffix>settings_backup_restore</mat-icon>Sessione</mat-card-header>
      <mat-card-content>
        <p *ngIf="sessionStatus == 'Funzionante'">OK</p>
        <p *ngIf="sessionStatus == 'Errore'">Error</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="no-anomalies" *ngIf="!vehicleAnomalies">
    Nessun dato
  </div>
</div>
