body,
html {
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left-section{
  height: 100vh;
  background-color: var(--navbarANDstats-background);
  padding: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  .left-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2px;
    margin: 0;
  }

  > *:last-child {
    margin-bottom: 10vh;
  }

  .graphs .table {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
  }

  .map-content{
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 1.05vh;
    .map-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      line-height: 0;
      margin: 0;
    }

    .map-errorContainer{
      font-size: 14px;
      width: 100%;
      text-align: left;
    }

    .map-container {
      height: 100%;
      width: 100%;
    }

    .map-container .map {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}

.right-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-color);
  padding-left: 39px;
  padding-top: 36px;
  padding-right: 39px;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.right-section{
  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    max-height: 100%;
  }

  .section-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .section-header {
    .title-container{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .title-container{
      .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 1;
        padding-bottom: 4px;
      }

      .last-update{
        font-size: 14px;
      }
    }
  }

  .main-header {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .main-content{
    .table-content {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      height: calc(100vh - 80px);
    }

    .table-content .table-container {
      flex-grow: 1;
      overflow-y: hidden;
      max-height: 100%;
    }

    .table-content {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      flex-grow: 1;
      overflow-y: auto;
      max-height: calc(100% - 50px);
    }
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 2vw;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  .updateData-btn mat-icon {
    width: 20px;
  }

  .updateData-btn {
    text-wrap: nowrap;
  }

  .header-right {
    .switch-container {
      display: flex;
      align-items: center;
      gap: 0.2vw;
    }

    .updateData-btn {
      display: flex;
      gap: 2px;
      background-color: var(--green);
      border-radius: 5px;
      color: white;
    }

    .switch-container{
      p {
        margin: 0;
        margin-right: 0.4vw;
      }

      button {
        border-radius: 5px;
        background-color: white;
        color: black;
      }

      .selected-switch {
        background-color: var(--green);
        color: white;
      }
    }

    .kabangps-content,
    .kabanAntenna-content,
    .kanbanSessione-content {
      margin-top: 0;
      flex-grow: 0;
    }
  }


}
@media screen and (max-width: 1366px){

  .left-section{
    overflow: auto;
    width: 30vw;
    height: 100vh;

    .map-content{
      min-height: 60vh;
    }
  }

  .right-section {
    padding-left: 29px;
    padding-top: 26px;
    padding-right: 29px;

    .main-header{
      gap: 30px;
    }
    .section-header{
      .title-container{
        .last-update{
          font-size: 10px;
          white-space: nowrap;
        }
      }
    }
  }

  .table-content .table-container {
    flex-grow: 1;
    max-height: 100%;
    overflow-x: auto;
  }

}
