<div class="content">
  <div class="left-section">
    <div class="graphs-header">
      <p class="graphs-title">Statistiche</p>
      <p class="graphs-subtitle">Dati aggiornati sul parco mezzi</p>
    </div>
    <div class="graphs" #graphs>
      <div class="table" *ngIf="table">
        <div class="error-graph"><app-error-graph-card [errorGraphTitle]="'Errors'"></app-error-graph-card></div>
        <div class="blackbox-graph"><app-error-graph-card [errorGraphTitle]="'Antenna'"></app-error-graph-card></div>
      </div>
        <div class="error-graph"><app-error-graph-card [errorGraphTitle]="'GPS'" *ngIf="kanbanGps"></app-error-graph-card></div>
        <div class="error-graph"><app-error-graph-card [errorGraphTitle]="'Antenna'" *ngIf="kabanAntenna"></app-error-graph-card></div>
    </div>
    <div class="map-header">
      <p class="map-title">Mappa</p>
      <p class="map-subtitle">Ultima posizione registrata</p>
    </div>
    <app-map class="map" *ngIf="today"></app-map>
    <mat-error *ngIf="!today">Mappa non disponibile per ultimo andamento.</mat-error>
  </div>
  <div class="right-section">
    <div class="header">
      <div class="header-left">
        <div class="section-name">
          <h2 class="title">{{pageName}}</h2>
          <p class="subtitle">{{subtitle}}</p>
        </div>
        <mat-slide-toggle class="example-margin" [checked]="today"  (change)="dataSwitch($event)"> {{switchText}} </mat-slide-toggle>
      </div>
      <app-kebab-menu></app-kebab-menu>
    </div>
    <div class="main-content">
      <div class="table-content" *ngIf="table">
        <app-row-filter></app-row-filter>
        <app-table></app-table>
      </div>
      <div class="kabangps-content" *ngIf="kanbanGps">
        <app-kanban-gps></app-kanban-gps>
      </div>
      <div class="kabanAntenna-content" *ngIf="kabanAntenna">
        <app-kanban-antenna></app-kanban-antenna>
      </div>
    </div>
  </div>
</div>
