<div class="content">
  <div class="left-section">
    <div class="graphs-header">
      <p class="graphs-title">Statistiche</p>
      <p class="graphs-subtitle">Dati aggiornati sul parco mezzi</p>
    </div>
    <div class="error-graph"><app-error-graph-card></app-error-graph-card></div>
    <div class="blackbox-graph"><app-blackbox-graph-card></app-blackbox-graph-card></div>
  </div>
  <div class="right-section">
    <h2>Dashboard</h2>
    <div class="filters">
      <app-row-filter></app-row-filter>
    </div>
    <div class="table">
      <app-table></app-table>
    </div>
  </div>
</div>
