<div class="content">
  <div class="left-section">
    <div class="left-header section-header">
      <h4 class="title">Statistiche</h4>
      <p class="subtitle">Dati aggiornati sul parco mezzi</p>
    </div>
    <div class="graphs" #graphs>
      <div class="table" *ngIf="table">
        <div class="error-graph"><app-error-graph-card [errorGraphTitle]="'GPS'"></app-error-graph-card></div>
        <div class="blackbox-graph"><app-error-graph-card [errorGraphTitle]="'Antenna'"></app-error-graph-card></div>
        <div class="error-graph"><app-error-graph-card [errorGraphTitle]="'Sessione'"></app-error-graph-card></div>
      </div>
        <div class="error-graph"><app-error-graph-card [errorGraphTitle]="'GPS'" *ngIf="kanbanGps"></app-error-graph-card></div>
        <div class="error-graph"><app-error-graph-card [errorGraphTitle]="'Antenna'" *ngIf="kabanAntenna"></app-error-graph-card></div>
        <div class="error-graph"><app-error-graph-card [errorGraphTitle]="'Sessione'" *ngIf="kanbanSessione"></app-error-graph-card></div>
    </div>
    <div class="map-header section-header">
      <h4 class="title">Mappa</h4>
      <p class="subtitle">Ultima posizione registrata</p>
    </div>
    <div class="map-container">
      <app-map class="map" *ngIf="today"></app-map>
      <mat-error *ngIf="!today">Mappa non disponibile per ultimo andamento</mat-error>
    </div>
  </div>
  <div class="right-section">
    <div class="header">
      <div class="section-header">
        <div class="title-container">
          <span class="title-main">{{ pageName }}</span>
          <div class="last-update">
            <span *ngIf="today">
              {{ lastUpdate && checkDate(lastUpdate) ? (lastUpdate | date: 'dd/MM/yyyy HH:mm'): lastUpdate }}
            </span>
            <span *ngIf="lastSession">
              Recente
            </span>
          </div>
        </div>
        <p class="subtitle">{{subtitle}}</p>
      </div>
      <div class="header-right">
        <div class="switch-container">
          <p>Andamento: </p>
          <button mat-button [ngClass]="{'selected-switch': today}" (click)="dataSwitch()">Oggi</button>
          <button mat-button [ngClass]="{'selected-switch': lastSession}" (click)="dataSwitch()">Recente</button>
        </div>
        <app-kebab-menu></app-kebab-menu>
        <button mat-raised-button class="updateData-btn button" (click)="updateData()"><mat-icon>refresh</mat-icon> Aggiorna dati</button>
      </div>
    </div>
    <div class="main-content">
      <div class="table-content" *ngIf="table">
          <app-row-filter></app-row-filter>
        <div class="table-container">
          <app-table></app-table>
        </div>
      </div>
      <div class="kabangps-content" *ngIf="kanbanGps">
        <app-kanban-gps></app-kanban-gps>
      </div>
      <div class="kabanAntenna-content" *ngIf="kabanAntenna">
        <app-kanban-antenna></app-kanban-antenna>
      </div>
      <div class="kanbanSessione-content" *ngIf="kanbanSessione">
        <app-kanban-sessione></app-kanban-sessione>
      </div>
    </div>
  </div>
</div>
