/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto' !important;
}

.bg-image {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://umbrianotizieweb.it/images/GesenuNuovo2/DSC_8388.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}


html, body, h1, h2, h3, h4, h5, h6, th, td, mat-card-title{
  font-family: 'Roboto' !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
