<div class="anomalies-container">
  <p class="anomalies-title"><strong>Anomalie</strong></p>
  <div class="anomalies" *ngIf="vehicleAnomalies">
    <mat-card class="working" #GPSCard
    [ngStyle]="{'background-color': checkGPSAnomalyColor()}"
    >
      <mat-card-header><mat-icon >location_on</mat-icon></mat-card-header>
      <mat-card-content>
        <p *ngIf="gpsStatus == 'Funzionante'">Funzionante</p>
        <p *ngIf="gpsStatus == 'Warning'">Warning</p>
        <p *ngIf="gpsStatus == 'Errore'">Errore</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="warning" #antennaCard
    [ngStyle]="{'background-color': antennaStatus == 'Blackbox' ? 'black' : antennaStatus=='Funzionante' ? workingColor : errorColor }"
    >
      <mat-card-header><mat-icon >wifi_on</mat-icon></mat-card-header>
      <mat-card-content>
        <p *ngIf="antennaStatus == 'Funzionante'">Funzionante</p>
        <p *ngIf="antennaStatus == 'Errore'">Errore</p>
        <p *ngIf="antennaStatus == 'Blackbox'">No antenna</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="error" #sessionCard
    [ngStyle]="{'background-color' : sessionStatus == 'Funzionante' ? workingColor : errorColor}"
    >
      <mat-card-header><mat-icon matSuffix>settings_backup_restore</mat-icon></mat-card-header>
      <mat-card-content>
        <p *ngIf="sessionStatus == 'Funzionante'">Funzionante</p>
        <p *ngIf="sessionStatus == 'Errore'">Errore</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="no-anomalies" *ngIf="!vehicleAnomalies">
    NO DATA
  </div>
</div>
