<app-navbar></app-navbar>
<div class="cards-container">
  <mat-card class="workingVehicles-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="logo"></div>
      <mat-card-title>Working vehicles</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="workingVehicle-img">
  </mat-card>
  <mat-card class="brokenVehicles-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="logo"></div>
      <mat-card-title>Broken vehicles</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="brokenVehicle-img">
  </mat-card>
</div>
