<div class="cards-container">
  <!-- working vehicles card -->
  <mat-card class="workingVehicles-card" appearance="outlined" (click)="workingCardClick()">
    <mat-card-header class="working-card-header">
      <div mat-card-avatar class="logo"></div>
      <mat-card-title class="working-card-title">Working vehicles</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="workingVehicle-img">
  </mat-card>
  <!-- broken vehicles card -->
  <mat-card class="brokenVehicles-card" appearance="outlined" (click)="brokenCardClick()">
    <mat-card-header>
      <div mat-card-avatar class="logo"></div>
      <mat-card-title class="broken-card-title">Broken vehicles</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="brokenVehicle-img">
  </mat-card>
</div>
