<mat-drawer-container class="drawer-container" autosize>

  <app-navbar></app-navbar>
  <mat-drawer #drawer class="sidebar" mode="side">
    <div class="drawer-content">
      <img class="sidebar-logo" src="assets/logo.png" alt="">
      <hr>
      <div class="main-actions">
        <button mat-raised-button class="dashboard-btn button"><mat-icon>dashboard</mat-icon>Dashboard</button>
        <button mat-raised-button class="mezzi-btn button"><mat-icon>local_shipping</mat-icon>Mezzi</button>
        <button mat-raised-button class="dettaglio-mezzi-btn button"><mat-icon>search</mat-icon><mat-icon>local_shipping</mat-icon>Dettaglio mezzi</button>
      </div>
      <div class="settings">
        <button mat-raised-button class="gestione-btn button"><mat-icon>manage_accounts</mat-icon>Gestione utente</button>
        <button mat-raised-button class="settings-btn button"><mat-icon>settings</mat-icon>Impostazioni</button>
      </div>
    </div>
  </mat-drawer>

</mat-drawer-container>
