.filters-container {
  width: auto !important;
  display: inline-flex;
  background-color: white;
  padding: 5px;
  border-radius: 6px;
}

.filter {
  flex: 1;
  min-width: 0;
  margin-right: 10px;
}

.filter:last-child {
  margin-right: 0;
}
