<div class="filters-container">
  <form [formGroup]="lettureFilterForm">
    <!-- Select multipla per i cantieri -->
    <mat-form-field appearance="outline" class="filter" subscriptSizing="dynamic">
      <mat-select formControlName="cantieriNames" multiple placeholder="Cantieri" (openedChange)="cantieriSelectOpened = !cantieriSelectOpened">
        <mat-option value="Seleziona tutto" (click)="selectAll()" *ngIf="cantieriSelectOpened">Seleziona tutto</mat-option>
        <mat-divider></mat-divider>
        <mat-option *ngFor="let cantiere of cantieri" [value]="cantiere.name">
          {{ cantiere.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Range datepicker -->
    <mat-form-field appearance="outline" class="filter" subscriptSizing="dynamic">
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Data inizio" formControlName="dateFrom">
        <input matEndDate placeholder="Data fine" formControlName="dateTo">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <span
      class="apply-container"
      [matTooltip]="getApplyFilterTooltip()"
    >
      <button
        mat-raised-button
        class="button"
        (click)="applyFilters()"
        [disabled]="!isApplyFilterEnabled()"
      >
        Applica Filtri
      </button>
    </span>
  </form>
</div>
