.header{
  padding-top: 2vw;
  padding-left: 2vw;
}
.content{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2vw;
}
.go-back{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: .5vw;
  font-weight: bold;
}
.subtitle{
  line-height: 0;
}
.left-section{
  display: flex;
  gap: 1vw;
  flex: 1;
}
.right-section{
  flex: 1;
}
.anomalies{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  flex: 1;
}
.anomalies mat-card{
  width: 6vw;
  height: 10vh;
}
.anomalies mat-card mat-card-content {
  color: white;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Allinea il contenuto verticalmente in basso */
  align-items: flex-start; /* Allinea il contenuto orizzontalmente a sinistra */
}
.cards{
  flex: 3;
}
.working{
  width: 100px;
  height: 100px;
  background-color: var(--sidebar-color);
}
.warning{
  width: 100px;
  height: 100px;
  background-color: var(--yellow);
}
.error{
  width: 100px;
  height: 100px;
  background-color: var(--red);
}
.working,.warning,.error{
  display: flex;
  align-items: flex-end;
  text-wrap: no-wrap;
  font-size: 15px;
}
.generalInfo-card, .deviceInfo-card, .fleetSetup-card, .graph-card, .notes-card{
  background-color: white !important;
}
.generalInfo-card{
  width: 20vw;
  height: auto;
}
.fleetSetup-card{
  width: 30vw;
  height: auto;
}
.deviceInfo-card{
  width: 55vw;
  height: auto;
}
.generalInfo-card mat-card-header{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.deviceInfo-card mat-card-header{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.general-lists{
  width: 100%;
  display: flex;
  align-items: center;
}
.device-lists{
  width: 100%;
  display: flex;
  align-items: center;
}
.fleet-lists{
  width: 100%;
  display: flex;
  align-items: center;
}

mat-list{
  width: 100%;
}
mat-list-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  line-height: 1;
  margin: 0;
}

.list-label{
  color: var(--sidebar-color);
}
mat-divider {
  border-top-width: 2px;
  border-top-color: var(--background-color);
}
.notes-header{
  display: flex;
  align-items: center;
}
.notes-header mat-icon{
  color: var(--sidebar-color);
}
