<div class="content">

  <section class="header">
    <h2 class="section-header go-back">
      <button mat-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="title">Torna alla tabella degli utenti</span>
    </h2>
    <div class="section-header">
      <p class="title">{{header.title}}</p>
      <p class="subtitle">{{header.subtitle}}</p>
    </div>
  </section>

  <article class="main-content">
    <section class="left-section">
      <div class="cards" *ngIf="user">
        <app-dati-utente [user]="user"></app-dati-utente>
        <app-password-reset [userId]="user.id"></app-password-reset>
      </div>
    </section>
    <section class="right-section">
      <app-worksite-associations-kanban *ngIf="associationResponse?.worksiteFree" [userId]="user.id" [associationResponse]="associationResponse"></app-worksite-associations-kanban>
      <app-company-associations-kanban *ngIf="associationResponse?.companyFree" [userId]="user.id" [associationResponse]="associationResponse"></app-company-associations-kanban>
    </section>
  </article>
</div>
