.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  .section-header{
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
}

