<div class="content">
  <div class="section-header">
    <span class="title">Classifica dei 5 veicoli più veloci</span>
    <span class="subtitle">Qui viene riportata una classifica delle velocità più alte nell'arco di tempo specificato</span>
  </div>

  <div class="table-content">
    <mat-chip-listbox class="mat-chip-listbox-inline" aria-label="Cutest dog breeds">
      <mat-chip-option
        [ngClass]="{ 'selected-chip': selectedRange === 'Yesterday' }"
        (click)="setSpeedTime('Yesterday')">
        Ieri
      </mat-chip-option>
      <mat-chip-option
        [ngClass]="{ 'selected-chip': selectedRange === 'This Month' }"
        (click)="setSpeedTime('This Month')">
        Questo mese
      </mat-chip-option>
      <mat-chip-option
        [ngClass]="{ 'selected-chip': selectedRange === 'Last 3 Months' }"
        (click)="setSpeedTime('Last 3 Months')">
        Ultimi 3 mesi
      </mat-chip-option>
      <mat-chip-option
        [ngClass]="{ 'selected-chip': selectedRange === 'This Year' }"
        (click)="setSpeedTime('This Year')">
        Quest'anno
      </mat-chip-option>
      <mat-chip-option
        [ngClass]="{ 'selected-chip': selectedRange === 'All Time' }"
        (click)="setSpeedTime('All Time')">
        Da sempre
      </mat-chip-option>
    </mat-chip-listbox>
    <app-top-speeds-table [speeds]="displayedSpeeds"></app-top-speeds-table>
  </div>
  <app-podium
    [first]="displayedSpeeds[0]?.plate || ''"
    [second]="displayedSpeeds[1]?.plate || ''"
    [third]="displayedSpeeds[2]?.plate || ''">
  </app-podium>


</div>
