<div class="content" [formGroup]="userFiltersForm">
  <mat-form-field class="username-filter" appearance="outline" subscriptSizing="dynamic">
    <input matInput formControlName="username" type="text" placeholder="Cerca utenti" #username class="username-input" >
    <button *ngIf="username.value" matSuffix mat-icon-button aria-label="Clear" (click)="username.value = ''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon matSuffix *ngIf="!username.value">search</mat-icon>
  </mat-form-field>
  <mat-form-field class="cantieri-filter filter" appearance="outline" subscriptSizing="dynamic">
    <mat-select formControlName="roles" placeholder="Tutti i ruoli" multiple class="cantiere-input" (openedChange)="rolesSelectOpened = !rolesSelectOpened">
      <mat-option value="Seleziona tutto" (click)="selectAll()" *ngIf="rolesSelectOpened">Seleziona tutto</mat-option>
      <mat-divider></mat-divider>
      <mat-option
      [value]="role"
      *ngFor="let role of listaRuoli"
      >
        {{ role }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>engineering</mat-icon>
  </mat-form-field>
</div>
