<div class="table-container">
  <table mat-table
       [dataSource]="anomaliesTableData"
       multiTemplateDataRows
       class="mat-elevation-z8"
      #anomaliesTable>

  <!-- Colonna Data -->
  <ng-container matColumnDef="Data">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let anomaly"> {{ anomaly.date | date: "dd/MM/yyyy"}} </td>
  </ng-container>

  <!-- Colonna Stato GPS -->
  <ng-container matColumnDef="Stato GPS">
    <th mat-header-cell *matHeaderCellDef> GPS </th>
    <td mat-cell *matCellDef="let anomaly">
      <div class="OK-container" matTooltip="GPS funzionante" *ngIf="!checkErrorsService.checkGpsError(anomaly.gps) && !checkErrorsService.checkGpsWarning(anomaly.gps)">
        <mat-icon class="gpsIcon-OK">location_on</mat-icon>
        OK
      </div>
      <div class="warning-container" *ngIf="checkErrorsService.checkGpsWarning(anomaly.gps)" [matTooltip]="checkErrorsService.checkGpsWarning(anomaly.gps)">
        <mat-icon class="gpsIcon-warning">location_on</mat-icon>
        Warning
      </div>
      <div class="error-container" *ngIf="checkErrorsService.checkGpsError(anomaly.gps)" [matTooltip]="checkErrorsService.checkGpsError(anomaly.gps)">
        <mat-icon class="errorIcon-error">location_on</mat-icon>
        Error
      </div>
    </td>
  </ng-container>

  <!-- Colonna Stato Antenna -->
  <ng-container matColumnDef="Stato Antenna">
    <th mat-header-cell *matHeaderCellDef> Antenna </th>
    <td mat-cell *matCellDef="let anomaly">
      <!-- OK Container -->
      <div
        class="OK-container"
        *ngIf="!anomaly.antenna && vehicle.allestimento"
        matTooltip="Antenna funzionante"
      >
        <mat-icon class="antennaIcon-OK">wifi</mat-icon>
        OK
      </div>

      <!-- No RFID Container -->
      <div
        class="noRFID-container"
        *ngIf="!vehicle.allestimento"
        matTooltip="Non ha un'antenna RFID"
      >
        <mat-icon class="noAntennA-icon">wifi_off</mat-icon>
      </div>

      <!-- Error Container -->
      <div
        class="error-container"
        *ngIf="vehicle.allestimento && anomaly.antenna"
        [matTooltip]="anomaly.antenna ? anomaly.antenna : 'Error'"
      >
        <mat-icon class="errorIcon-error">wifi_off</mat-icon>
        Error
      </div>
    </td>
  </ng-container>


  <!-- Colonna Sessione -->
  <ng-container matColumnDef="Sessione">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sessione </th>
    <td mat-cell *matCellDef="let anomaly">
      <!-- se non c'è errore, data nera -->
      <span *ngIf="!anomaly.session; else sessionError">
        <!-- icone -->
        <div class="OK-container" matTooltip="Sessione corretta">
          OK
        </div>
      </span>
      <!-- se c'è errore  -->
      <ng-template #sessionError>
        <div class="session-error" *ngIf="anomaly.session">
          <div class="error-container" [matTooltip]="anomaly.session">
            Error
          </div>
          <span class="session-date" [matTooltip]="anomaly.session">
          </span>
        </div>
      </ng-template>
    </td>
  </ng-container>

  <!-- Colonna Expand -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let anomaly">
      <button mat-icon-button aria-label="expand row" (click)="handleRowExpansion(anomaly, $event)">
        <mat-icon>
          {{ expandedDay === anomaly ? 'remove' : 'add' }}
        </mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Riga dettagli espansi -->
<ng-container matColumnDef="expandedDetail">
  <td mat-cell *matCellDef="let anomaly"
      [attr.colspan]="daysColumnsToDisplayWithExpand.length">
    <div class="example-element-detail"
         [@detailExpand]="anomaly === expandedDay ? 'expanded' : 'collapsed'">

      <!-- Tabella delle sessioni -->
      <table mat-table
             [dataSource]="sessionsTableData"
             multiTemplateDataRows
             class="mat-elevation-z8"
             #sessionsTable>

        <!-- Colonna Id -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let session"> {{session.id}} </td>
        </ng-container>

        <!-- Colonna Sequence ID -->
        <ng-container matColumnDef="Sequence ID">
          <th mat-header-cell *matHeaderCellDef> Sequence ID </th>
          <td mat-cell *matCellDef="let session"> {{session.sequence_id}} </td>
        </ng-container>

        <!-- Colonna Inizio -->
        <ng-container matColumnDef="Inizio">
          <th mat-header-cell *matHeaderCellDef> Inizio </th>
          <td mat-cell *matCellDef="let session"> {{session.period_from | date: "HH:mm"}} </td>
        </ng-container>

        <!-- Colonna Fine -->
        <ng-container matColumnDef="Fine">
          <th mat-header-cell *matHeaderCellDef> Fine </th>
          <td mat-cell *matCellDef="let session"> {{session.period_to | date: "HH:mm"}} </td>
        </ng-container>

        <!-- Colonna Distanza -->
        <ng-container matColumnDef="Distanza">
          <th mat-header-cell *matHeaderCellDef> Distanza </th>
          <td mat-cell *matCellDef="let session"> {{session.distance}} km </td>
        </ng-container>

        <!-- Definizione intestazioni e righe della tabella -->
        <tr mat-header-row *matHeaderRowDef="sessionColumnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: sessionColumnsToDisplay;"></tr>
      </table>

    </div>
  </td>
</ng-container>


  <!-- Header row -->
  <tr mat-header-row *matHeaderRowDef="daysColumnsToDisplayWithExpand, sticky: true"></tr>

  <!-- Data rows -->
  <tr mat-row *matRowDef="let anomaly; columns: daysColumnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedDay === anomaly"
      (click)="expandedDay = expandedDay === anomaly ? null : anomaly">
  </tr>

  <!-- Expanded detail row -->
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row">
  </tr>
</table>
<div class="disclaimers">
  <mat-error *ngIf="!dateSelected">Nessuna data selezionata</mat-error>
  <mat-error *ngIf="!data">Nessuna sessione trovata nell'arco di tempo {{lastDateFrom | date: "dd-MM-yyyy"}} - {{lastDateTo | date: "dd-MM-yyyy"}}</mat-error>
</div>

</div>
